<html lang="en">

<head>
    {% include "smlaos/header.html" %}
    <title>SMLAOS SOFT</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/main.css') }}">
    <style>
        body {
            background: linear-gradient(#b5e48c, #457b9d) fixed;
        }
        
        nav a {
            color: #2D2D2D !important
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light  fixed-top" style="background-color: #fff;color: #fff !important;box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/static/logo-no-background.svg" alt="" width="50" height="30">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">ໜ້າຫຼັກ</a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    ການບໍລິການ
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #FFA6A6;">
                    <li><a class="dropdown-item" href="#">ຕົວແທນຈຳໜ່າຍ ລະບົບ ERP</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">ລະບົບອອກບິນແຈ້ງອາກອນມູນຄ່າເພີ່ມ</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">ພັດທະນາລະບົບ</a></li>
                </ul>
            </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">ຕິດຕໍ່ພວກເຮົາ</a>
                    </li>
                </ul>
            </div>

            <a class="nav-link" href="/login" tabindex="-1" aria-disabled="true" style="background-color: #CEF3FF;border-radius: 5px;"> <i class="bi bi-box-arrow-right"></i>&nbsp;ເຂົ້າລະບົບ</a>
        </div>
    </nav>
    <!-- body part -->
    <div class="container">

        <center>
            <br><br>
            <br>
            <br><br>
            <h1>
                ການບໍລິການຂອງພວກເຮົາ
            </h1>
        </center>
        <div class="row">
            <div class="col">
                <img src="/static/smlaos/slidshow/3.png" alt="" width="800" height="500">
            </div>
            <div class="col">
                <br><br>
                <h1>
                    ພັດທະນາ ແລະ ໃຫ້ບໍລິການລະບົບ ແຈ້ງອາກອນ K-VAT
                </h1>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col">
                <br>
                <br>
                <h1>
                    ຕົວແທນຈຳໜ່າຍ ລະບົບ ERP (SML POS,SML Account ແລະ SML Acount Pro)
                </h1>
            </div>
            <div class="col">
                <img src="/static/smlaos/slidshow/pos.png" alt="" width="800" height="500">
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col">
                <img src="/static/smlaos/slidshow/4.png" alt="" width="800" height="400">

            </div>
            <div class="col">
                <br>
                <br>
                <h1>
                    ບໍລິການໃຫ້ຄຳປຶກສາ, ພັດທະນາ software ແລະ Mobile application ເພືອຕອບສະໜອງການໃຊ້ງານທຸກອົງກອນ
                </h1>
            </div>
        </div>

        <hr>
        <center>

            <h5 style="color: #fff;">
                <img src="/static/smlaos/slidshow/logo-color.svg" alt="" width="50" height="30"> BY SMLAO SOFT
            </h5>
        </center>
    </div>



    {% include "smlaos/footer.html" %}
</body>

</html>