{% extends "layout/layout.html" %} {% block title %}ໜ້າຫຼັກ{% endblock %} {% block head %}
<style>
    body {
        background: #eee;
        font-family: "Noto Sans Lao";
    }
    
    .card-box {
        position: relative;
        color: #fff;
        padding: 20px 10px 10px;
        margin: 20px 0px;
        font-family: "Noto Sans Lao";
        border-radius: 20px;
    }
    
    .card-box:hover {
        text-decoration: none;
        color: #f1f1f1;
    }
    
    .card-box:hover .icon i {
        font-size: 90px;
        transition: 1s;
        -webkit-transition: 1s;
    }
    
    .card-box .inner {
        padding: 5px 10px 0 10px;
    }
    
    .card-box h3 {
        font-size: 27px;
        font-weight: bold;
        margin: 0 0 8px 0;
        white-space: nowrap;
        padding: 0;
        text-align: left;
    }
    
    .card-box p {
        font-size: 15px;
    }
    
    .card-box .icon {
        position: absolute;
        top: auto;
        bottom: 5px;
        right: 30px;
        z-index: 0;
        font-size: 72px;
        color: rgba(0, 0, 0, 0.15);
    }
    
    .card-box .card-box-footer {
        position: absolute;
        left: 0px;
        bottom: 0px;
        text-align: center;
        padding: 3px 0;
        color: rgba(255, 255, 255, 0.8);
        background: rgba(0, 0, 0, 0.1);
        width: 100%;
        text-decoration: none;
        font-family: "Noto Sans Lao";
    }
    
    .card-box:hover .card-box-footer {
        background: rgba(0, 0, 0, 0.3);
    }
    
    .bg-blue {
        background-color: #00c0ef !important;
    }
    
    .bg-green {
        background-color: #00a65a !important;
    }
    
    .bg-orange {
        background-color: #f39c12 !important;
    }
    
    .bg-red {
        background-color: #d9534f !important;
    }
    
    #customers {
        font-family: "Noto Sans Lao";
        font-size: 12px;
        border-collapse: collapse;
        width: 100%;
    }
    
    #customers td {
        border: 1px solid #ddd;
        padding: 5px;
        background-color: rgb(210, 239, 248);
    }
    
    #customers th {
        border: 1px solid #ddd;
        padding: 5px;
    }
    /* #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    } */
    
    #customers th {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        background-color: #04AA6D;
        color: white;
    }
    
    .list-group-item {
        font-family: "Noto Sans Lao";
    }
    
    .modal {
        font-family: "Noto Sans Lao";
    }
    
    label {
        font-size: 12px !important;
    }
    
    .form-control {
        font-size: 12px !important;
    }
    
    .form-select {
        font-size: 12px !important;
    }
    
    table tr td {
        background-color: #fff !important;
    }
    
    table tbody tr:nth-child(even) {
        background-color: #d4d4d4 !important;
    }
</style>
{{ super() }} {% endblock %} {% block content %}
<!-- <div class="container p-0" style="background-color: #AEB6BF; border-radius: 10px;"> -->
<div class="card-body m-lg-2 mr-2" style="background-color: #EFEFEF; border-radius: 10px;">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="card-box bg-green">
                        <div class="inner">
                            <h2>{{'{:,.2f}'.format(head_all[3])}}</h2>
                            <h4>{{'{:,.2f}'.format(head_all[4])}}</h4>
                            <p> ຈຳນວນທັງໝົດ ພາຍໃນເດືອນ</p>
                        </div>
                        <div class="icon">
                            <i class="bi bi-cash-stack"></i>
                        </div>
                        <!-- <a href="/Recipt" class="card-box-footer">ລາຍລະອຽດ <i class="fa fa-arrow-circle-right"></i></a> -->
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card-box bg-orange">
                        <div class="inner">
                            <h2>{{'{:,.2f}'.format(head_all[5])}}</h2>
                            <h4>{{'{:,.2f}'.format(head_all[6])}}</h4>
                            <p> ຈຳນວນແຈ້ງອມພ ພາຍໃນເດືອນ</p>
                        </div>
                        <div class="icon">
                            <i class="bi bi-cash-stack"></i>
                        </div>
                        <!-- <a href="/VATPASS" class="card-box-footer">ລາຍລະອຽດ <i class="fa fa-arrow-circle-right"></i></a> -->
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card-box bg-red">
                        <div class="inner">
                            <h2>{{'{:,.2f}'.format(head_all[7])}}</h2>
                            <h4>{{'{:,.2f}'.format(head_all[8])}}</h4>
                            <p> ຈຳນວນຄ້າງແຈ້ງອມພ ພາຍໃນເດືອນ</p>
                        </div>
                        <div class="icon">
                            <i class="bi bi-cash-stack"></i>
                        </div>
                        <!-- <a href="/VATNO" class="card-box-footer">ລາຍລະອຽດ <i class="fa fa-arrow-circle-right"></i></a> -->
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-9 p-2 table-responsive" style="background-color: #F0F0F0;">
                    <table id="customers">
                        <thead style="background-color: #1f2f39;color: #fff;">
                            <tr>
                                <th scope="col" style="width: 2%;text-align: center;background-color: #369DBB;">#</th>
                                <th scope="col" style="width: 10%;text-align: center;background-color: #369DBB;">ເລກບີນ
                                </th>
                                <th scope="col" style="width: 10%;text-align: center;background-color: #369DBB;">ວັນທີ
                                </th>
                                <th scope="col" style="width: 10%;text-align: center;background-color: #369DBB;">
                                    ລະຫັດລູກຄ້າ</th>
                                <th scope="col" style="width: 200px;text-align: center;background-color: #369DBB;">ຊື່
                                </th>
                                <th scope="col" style="width: 15%;text-align: center;background-color: #369DBB;">ມູນຄ່າ
                                </th>
                                <th scope="col" style="width: 10%;text-align: center;background-color: #369DBB;"></th>
                                <th scope="col" style="width: 30px;text-align: center;background-color: #369DBB;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in data %}
                            <tr {%if item[8]==0 %} {%else%} class="active" {%endif%}>
                                <th scope="row" style="text-align:center;vertical-align:middle;">{{item[0]}}</th>
                                <td style="text-align: left;vertical-align:middle;">{{item[1]}}</td>
                                <td style="text-align: left;vertical-align:middle;">{{item[2]}}</td>
                                <td style="text-align: left;vertical-align:middle;">{{item[3]}}</td>
                                <td style="text-align: left;vertical-align:middle;">
                                    {{item[4]}} (<span style="color:#D35400;font-weight: bold;font-size: 12px !important;">{{item[5]}}</span>)
                                </td>
                                <td style="text-align: right;vertical-align:middle;font-weight: bold;color: #031cbb;font-weight: bold;">
                                    {{item[6]}}</td>
                                <td style="text-align: right;vertical-align:middle;font-weight: bold;width: 100px !important ;padding: 0px;margin: 0px;">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            {%if item[9]==0%}
                                            <span style="font-size: 11px;color: #DB5B02;"> <i
                                                    class="bi bi-check2-circle"></i> &nbsp;ຍັງບໍອະນຸມັດ</span>
                                            {% else %}
                                            <span style="font-size: 11px;color: #4CAF50;"> <i
                                                    class="bi bi-check2-circle"></i> &nbsp;ອະນຸມັດແລ້ວ</span>
                                            {% endif %}
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li>
                                                <a class="dropdown-item" href="#" onclick="return confirm('ທ່ານຕ້ອງການອະນຸມັດແທ້ບໍ ?')" style="font-size: 11px;color: #0536a9;"><i
                                                        class="bi bi-check2-circle"></i> &nbsp;ອະນຸມັດ</a>
                                            </li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li>
                                                {%if item[8]==0%}
                                                <a class="dropdown-item" href="#" onclick="vatpass('{{item[1]}}')" style="font-size: 11px;color: #7104b4;"><i
                                                        class="bi bi-file-earmark-diff"></i>&nbsp;ແຈ້ງອາກອນ</a> {% else %}
                                                <a class="dropdown-item disabled" href="#" style="font-size: 11px;color: #29B001;"><i
                                                        class="bi bi-file-earmark-check"></i>&nbsp;ແຈ້ງອາກອນແລ້ວ</a> {% endif %}
                                            </li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#" style="font-size: 10px;color: #950303;"><i
                                                        class="bi bi-x-octagon"></i>&nbsp;ຍົກເລີກບິນ</a>
                                            </li>
                                        </ul>
                                    </div>

                                </td>
                                <td style="text-align: center;width: 60px;">
                                    {%if item[8] == 0%}
                                    <a href="/printbill/{{item[1]}}" target="_blank"><i
                                            class="bi bi-printer"></i></a>&nbsp;&nbsp;
                                    <a href=""><i class="bi bi-pencil-square"></i></a>&nbsp;&nbsp;
                                    <a href="#" onclick="deleteitem('{{item[1]}}')"><i class="bi bi-trash"></i></a> {%else%} <a href="/printbill/{{item[1]}}" target="_blank"><i class="bi bi-printer"></i></a>&nbsp;&nbsp;
                                    <b>ສົ່ງຂໍ້ມູນເເລ້ວ</b> {%endif%}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-3 p-2">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active">
                            ລາຍງານ
                        </a>
                        <a href="/saledaiyreport" class="list-group-item list-group-item-action"><img src="/static/icon/business-report.png" alt="" height="20" width="20">&nbsp;ອອກໃບເກັບເງິນປະຈຳວັນ</a>
                        <a href="/vatpassreport" class="list-group-item list-group-item-action"><img src="/static/icon/business-report.png" alt="" height="20" width="20">&nbsp;ແຈ້ງອມພແລ້ວ</a>
                        <a href="/vatnoreport" class="list-group-item list-group-item-action"><img src="/static/icon/business-report.png" alt="" height="20" width="20">&nbsp;ຄ້າງແຈ້ງອພມ</a>
                        <hr>
                        <a href="/Recipt" class="list-group-item list-group-item-action"><i
                                class="bi bi-caret-right-fill"></i>&nbsp;ຈຳນວນບີນທັງໝົດ {{head_all[0]}} ພາຍໃນເດືອນ</a>
                        <a href="/VATPASS" class="list-group-item list-group-item-action"><i
                                class="bi bi-caret-right-fill"></i>&nbsp;ຈຳນວນແຈ້ງ ອມພ {{head_all[1]}} ພາຍໃນເດືອນ</a>
                        <a href="/VATNO" class="list-group-item list-group-item-action"><i
                                class="bi bi-caret-right-fill"></i>&nbsp;ຈຳນວນຄ້າງແຈ້ງ ອມພ {{head_all[2]}} ພາຍໃນເດືອນ</a>
                        <!-- <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum ateros</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>
<style>
    tr.active td,
    tr.active td span {
        background-color: #C6EFC6 !important;
        color: #444 !important;
        font-weight: bold !important;
    }
    
    tr.active td {
        border: 1px solid #00a65a !important;
    }
</style>
<script>
    function deleteitem(id) {
        Swal.fire({
            title: 'ທ່ານຕ້ອງການລົບຂໍ້ມູນແທ້ບໍ?',
            text: "ທ່ານຈະບໍ່ສາມາດຮ້ອງຄືນຂໍ້ມູນນີ້ໃດ້!",
            type: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ເຈົ້າ, ແມ່ນແລ້ວ!',
            cancelButtonText: 'ບໍ່,ກັບຄືນ!',
        }).then((result) => {
            if (result.isConfirmed) {
                location.href = "/deleteDocno/" + id + window.location.pathname;
            }
        })
        console.log(window.location.pathname, 'fgdf')
    }
</script>
<script>
    // function deleteitem(id) {
    //     Swal.fire({
    //         title: 'ທ່ານຕ້ອງການລົບເອກະສານແທ້ບໍ?',
    //         text: "ທານຈພບໍສາມາດເອີ້ນເອກະສ່ນີ້ຄືນໄດ້!",
    //         icon: 'warning',
    //         showCancelButton: true,
    //         confirmButtonColor: '#3085d6',
    //         cancelButtonColor: '#d33',
    //         confirmButtonText: 'ລົບເລີຍ!'
    //     }).then((result) => {
    //         fetch('/deleteDocno/' + id, {
    //             method: 'DELETE'
    //         }).then(res => {
    //             if (result.isConfirmed) {
    //                 if (res.status == '204') {
    //                     Swal.fire({
    //                         icon: 'error',
    //                         title: 'Oops...',
    //                         text: 'ເອກະສານນີມີການເຄື່ອນໃຫວແລ້ວ!',
    //                     })
    //                 } else {

    //                 }
    //             } else {
    //                 if (result.isConfirmed) {
    //                     Swal.fire(
    //                         'ລົບແລ້ວ!',
    //                         'ເອກະສານຂອງທ່ານຖືກລົບແລ້ວ.',
    //                         'success'
    //                     ).then(function() {
    //                         window.location.replace = "/home";
    //                     });
    //                 } else {

    //                 }
    //             }
    //         })

    //     })
    // }


    // function deleteitem(id) {
    //     Swal.fire({
    //         title: 'ທ່ານຕ້ອງການລົບລາຍການແທ້ບໍ?',
    //         text: "ທານຈະບໍ່ສາມາດເອີ້ນລາຍການນີ້ຄືນໄດ້!",
    //         icon: 'warning',
    //         showCancelButton: true,
    //         confirmButtonColor: '#3085d6',
    //         cancelButtonColor: '#d33',
    //         confirmButtonText: 'ລົບເລີຍ!'
    //     }).then((result) => {
    //         fetch('/deleteDocno/' + id, {
    //             method: 'DELETE'
    //         }).then(res => {
    //             if (result.isConfirmed) {
    //                 if (res.status == '204') {
    //                     Swal.fire({
    //                         icon: 'error',
    //                         title: 'Oops...',
    //                         text: 'ລາຍນີມີການເຄື່ອນໃຫວແລ້ວ!',

    //                     })
    //                 } else {
    //                     Swal.fire(
    //                         'ລົບແລ້ວ!',
    //                         'ລາຍການຂອງທ່ານຖືກລົບແລ້ວ.',
    //                         'success'
    //                     ).then(function() {
    //                         window.location = "/home";
    //                     });
    //                 }
    //             } else {
    //                 if (result.isConfirmed) {
    //                     Swal.fire(
    //                         'ລົບແລ້ວ!',
    //                         'ລາຍການຂອງທ່ານຖືກລົບແລ້ວ.',
    //                         'success'
    //                     ).then(function() {
    //                         window.location = "/home";
    //                     });
    //                 } else {

    //                 }
    //             }
    //         })

    //     })
    // }

    function vatpass(id) {
        Swal.fire({
            title: 'ທ່ານຕ້ອງການແຈ້ງອພມແທ້ບໍ?',
            text: "ຖ້າທ່ານແຈ້ງແລ້ວບໍສາມາດແກ້ໃຂເອກະສານໃ!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ແຈ້ງເລີຍ!'
        }).then((result) => {

            if (result.isConfirmed) {
                Swal.fire(
                    'ສຳເລັດ!',
                    'ການແຈ້ງອາກອນຂອງທ່ານສຳເລັດ.',
                    'success'
                ).then(function() {
                    window.location = "/postvat/" + id;
                });
            }

        })
    }
</script>

{% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} {%if message == 'ສຳເລັດ'%}
<script>
    Swal.fire({
        title: '{{message}}',
        text: "ສຳເລັດ",
        icon: 'success',
        showCancelButton: false,
        showConfirmButton: false,
    })
</script>
{%else%}
<script>
    Swal.fire({
        title: '{{message}}',
        text: "ກະລຸນາລອງໃໝ່",
        icon: 'error',
        showCancelButton: false,
        showConfirmButton: false,
    })
</script> {%endif%}{% endfor %} {% endif %} {% endwith %} {% endblock %}