<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ໃບເກັບເງິນ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!------ Include the above in your HEAD tag ---------->
    <link href="https://www.dafontfree.net/embed/c2F5c2V0dGhhLW90LXJlZ3VsYXImZGF0YS80Mi9zLzkyNzQ0L3NheXNldHRoYV9vdC50dGY" rel="stylesheet" type="text/css" />
    <style>
        @font-face {
            font-family: 'Phetsarath OT';
            src: url('/static/font/saysettha_ot.ttf') format('ttf');
        }
        /* @font-face {
            font-family: 'Phetsarath OT';
            font-style: normal;
            font-weight: 400;
            src: local('Phetsarath'), url('phetsarath_ot.ttf') format('ttf')
        } */
        /* @font-face {
            font-family: 'Phetsarath OT';
            font-style: normal;
            font-weight: 700;
            src: local('Phetsarath'), url('Phetsarath-Bold') format('woff')
        } */
        
        html,
        body {
            font-family: 'saysettha-ot-regular', sans-serif !important;
            width: 21.0cm;
            height: 29.7cm;
            background-image: url('http://150.95.90.124:8888/static/newtax.jpg');
            /* background-image: url('http://150.95.90.124:8888/static/icon/TAX1.jpg'); */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .header {
            padding-top: 60px;
            font-family: 'Phetsarath OT';
            padding-left: 20px;
            padding-right: 20px;
        }
        
        table,
        th,
        td {
            /* border: 1px solid black; */
            font-family: 'Phetsarath OT';
        }
        
        h4 {
            font-family: 'Phetsarath OT';
            font-size: 13pt;
            font-weight: bold;
        }
        
        h5 {
            font-family: 'Phetsarath OT';
            font-size: 11pt;
        }
        
        #customers {
            font-family: 'Phetsarath OT';
            font-size: 11pt;
            border-collapse: collapse;
            width: 100%;
        }
        
        #customers th {
            padding-top: 5px;
            padding-bottom: 5px;
            text-align: center;
            /* background-color: #04AA6D; */
            /* color: white; */
            border-bottom: #000000;
            border-top: #000000;
            border: 1px solid;
            border-left: none;
            border-right: none;
        }
        
        #customers td {
            padding-top: 5px;
            padding-bottom: 5px;
            text-align: center;
            height: 20px;
        }
        
        tbody.mytb tr td {
            vertical-align: top !important;
            word-wrap: break-word !important;
            word-break: keep-all !important;
        }
        
        tbody tr td {
            vertical-align: top !important;
            word-wrap: break-word !important;
            word-break: keep-all !important;
        }
        
        .navbar {
            overflow: hidden;
            position: fixed;
            bottom: 20;
            width: 100%;
        }
        /* .navbar h6 {
            float: left;
            display: block;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        } */
        
        table tr td {
            font-size: 11pt !important;
        }
    </style>
</head>

<body>
    <br>
    <div class="header">
        <table style="width: 100%;padding-top: 50px;">
            <tr>
                <td style="width:25%"></td>
                <td style="width:50%;text-align: center;font-size: 24px; font-weight: bold;padding: 0;margin: 0;vertical-align: top;">
                    ໃບເກັບເງິນ/Tax Invoice
                </td>
                <td style="width:25%;vertical-align: bottom;"> {{customer[0]}}</td>
            </tr>
            <tr>
                <td style="width:25%"></td>
                <td style="width:50%;text-align: center;font-size: 10pt;padding: 0;margin: 0;vertical-align: top;">
                    (ອາກອນມູນຄ່າເພີມ)
                </td>
                <td style="width:25%"></td>
            </tr>
        </table>
    </div>
    <br>
    <br>
    <hr style="margin-left: 50px;margin-right: 50px;padding: 0;margin-top: 5px;margin-bottom: 5px;height: 1px;
    background-color: #000000;
    border: none;">
    <div style="padding-left: 60px;padding-right: 50px;">
        <h4 style="padding: 1px;margin: 1px;">
            {{company[0]}}
        </h4>
        <h4 style="padding: 1px;margin: 1px;">
            {{company[1]}}
        </h4>
        <h5 style="padding: 1px;margin: 1px;">
            ທີ່ຢູ່: {{company[2]}}
        </h5>
        <h5 style="padding: 1px;margin: 1px;">
            ໂທ: {{company[3]}}
        </h5>
        <h5 style="padding: 1px;margin: 1px;">
            ເລກປະຈໍາຕົວຜູ້ເສຍອາກອນ: {{company[5]}}
        </h5>
        <table style="width: 100%;">
            <td style="width: 60%;font-size: 9pt !important;">ຊື່ບັນຊີທະນາຄານ: {{company[8]}}</td>
            <td style="width: 40%;text-align: end;font-size: 9pt !important;">ເລກບັນຊີ: {{company[9]}}</td>
        </table>
    </div>
    <hr style="margin-left: 50px;margin-right: 50px;padding: 0;margin-top: 5px;margin-bottom: 5px;height: 1px;
    background-color: #000000;
    border: none;">
    <div style="padding-left: 60px;padding-right: 50px;">

        <h5 style="padding: 1px;margin: 1px;">
            ລູກຄ້າ {{customer[3]}}
        </h5>
        <table style="width: 100%;">
            <tr>
                <td style="width: 33%;">ທີ່ຢູ່ບ້ານ: {{customer[4]}}</td>
                <td style="width: 40%;">ເມືອງ: {{customer[5]}} </td>
                <td style="width: 30%;">ແຂວງ: {{customer[6]}}</td>
            </tr>
            <tr>
                <td style="width: 33%;">ເບີໂທ: {{customer[7]}}</td>
                <td style="width: 40%;">ເລກປະຈໍາຕົວຜູ້ເສຍອາກອນ: <span>{{customer[8]}}</span></td>
                <td style="width: 33%;">ປະເພດການຈ່າຍ:</td>
            </tr>
            <tr>
                <td style="width: 33%;word-break: keep-all !important;">ຊື່ບັນຊີທະນາຄານ:</td>
                <td style="width: 40%;">ເລກບັນຊີ: </td>
                <td style="width: 33%;"></td>
            </tr>
        </table>
    </div>
    <div style="padding-left: 60px;padding-right: 50px;">
        <table id="customers">
            <thead>
                <th style="width: 20px;">ລຳດັບ</th>
                <th style="width: 250px;">ເນື້ອໃນລາຍການ</th>
                <th style="width: 50px;">ຈໍານວນ</th>
                <th style="width: 50px;">ຫົວໜ່ວຍ</th>
                <th style="width: 100px;">ລາຄາ</th>
                <th style="width: 100px;">ລວມ</th>
            </thead>
            <tbody class="mytb">
                {% for item in bill_dt %}
                <tr>
                    <td>{{item[0]}}</td>
                    <td style="text-align: start;">{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td>{{item[3]}}</td>
                    <td style="text-align: end;">{{item[8]}}</td>
                    <td style="text-align: end;">{{item[9]}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td style="text-align: start;">{{customer[13]}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% for i in range(0,11-count_dt) %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
                <tr>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="text-align: start;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="text-align: end;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="text-align: end;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                </tr>

                {% for item in data %}
                <tr>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                        {{item[0]}}</td>
                    <td style="text-align: start;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                        {{item[1]}}</td>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                        {{item[2]}}</td>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                        {{item[3]}}</td>
                    <td style="text-align: end;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                        {{item[8]}}</td>
                    <td style="text-align: end;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                        {{item[9]}}</td>
                </tr>
                {% endfor %}

                <!-- style="width: 50px;" -->
                <tr>
                    <td colspan="5" style="text-align: end;border: none;">
                        ລວມມູນຄ່າຂາຍບໍ່ມີອາກອນ:
                    </td>
                    <td style="text-align: end;font-weight: bold;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;
                    border-right: none;">
                        {{customer[9]}}
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align: end;border: none;">
                        ອັດຕາອາກອນມູນຄ່າເພີ່ມ 7%, ເປັນຈໍານວນເງິນ:
                    </td>
                    <td style="text-align: end;font-weight: bold;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;
                    border-right: none;">
                        {{customer[10]}}
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align: end;border: none;">
                        ລວມມູນຄ່າທັງຫມົດ:
                    </td>
                    <td style="text-align: end;font-weight: bold;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;
                    border-right: none;">
                        {{customer[11]}}
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <h5>
            ຈໍານວນເງິນຂຽນເປັນຕົວຫນັງສື:........... {{customer[12]}}......
        </h5>
    </div>
    <br>
    <br>
    <div style="padding-left: 60px;padding-right: 50px;">
        <table style="width: 100%; ">
            <td style="width: 50%;text-align: center;">
                ວັນທີ {{customer[1]}} <br>ຜູ້ຊື້
            </td>
            <td style="width: 50%;text-align: center;">
                ວັນທີ {{customer[1]}}<br>ຜູ້ຂາຍ
            </td>
        </table>
    </div>
    <div class="navbar">
        <h6 style="margin-bottom: 0;padding-bottom: 0;padding-left: 100px;font-size: 8px; font-weight: normal;  font-family: 'Phetsarath OT';">
            ສ້າງໂດຍ: ບໍລິສັດ ເອສເອມລາວ ພັດທະນາໂປແກັມບັນຊີ
        </h6>
        <h6 style="margin-top: 5px;padding-bottom: 0;padding-left: 100px;font-size: 8px; font-weight: normal;  font-family: 'Phetsarath OT';">
            ໃບອະນຸຍາດເລກທີ: {{company[6]}} ລົງວັນທີ: {{company[7]}}
        </h6>
    </div>

</body>

</html>