{% extends "layout/layout.html" %} {% block title %}ລາຍການສິນຄ້າ{% endblock %} {% block head %}
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/tb2.css') }}"> -->
<style>
    @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
    #example {
        font-family: "Noto Sans Lao";
        font-size: 11px;
        border-collapse: collapse;
        width: 100%;
    }
    
    #example td,
    #example th {
        border: 1px solid #ddd;
        padding: 5px;
    }
    
    #example tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    #example tr:hover {
        background-color: #ddd;
    }
    
    #example th {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }
    
    .form-control {
        font-size: 12px;
    }
    
    label {
        font-size: 12px;
    }
    
    h5 {
        margin-top: 10px;
        font-size: 15px;
    }
    
    a {
        font-family: 'phetsarath ot';
    }
    
    p {
        margin: 0px;
        font-size: 12px;
    }
    
    .button {
        background-color: #4CAF50;
        /* Green */
        border: none;
        color: white;
        padding: 2px 2px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        /* margin: 2px 2px; */
        transition-duration: 0.4s;
        cursor: pointer;
        width: 100px;
    }
    
    .button1 {
        background-color: white;
        color: black;
        border: 2px solid #4CAF50;
    }
    
    .button1:hover {
        background-color: #4CAF50;
        color: white;
    }
    
    .button2 {
        background-color: white;
        color: black;
        border: 2px solid #a30704;
    }
    
    .button2:hover {
        background-color: #a30704;
        color: white;
    }
    
    .button3 {
        background-color: white;
        color: black;
        border: 2px solid #0536a9;
    }
    
    .button3:hover {
        background-color: #0536a9;
        color: white;
    }
    
    select,
    option,
    p,
    span,
    input {
        font-size: 8pt !important;
    }
    
    .modal {
        font-family: "Noto Sans Lao";
    }
</style>
{{ super() }} {% endblock %} {% block content %}


<h6 class="card-header" style="background-color: #EFEFEF;">
    <a href="#" class="btn btn-success btn-sm" style="width: 150px;" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;ເພີ່ນສິນຄ້າ</a>
</h6>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">ເພີ່ມລາຍການສິນຄ້າ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/save_product" method="post">
                    <div class="card-body">
                        <label for="">ລະຫັດສິນຄ້າ</label>
                        <input type="text" class="form-control form-control-sm" placeholder="ລະຫັດ" style="width: 100px;" name="code" required{% if title=='sabaideevat' %} readonly value="{{pro_code}}" {%else%}{%endif%}>
                        <label for="">ຊື່(ລາວ)</label>
                        <input type="text" class="form-control form-control-sm" placeholder="ຊື່(ລາວ)" aria-label="Username" aria-describedby="basic-addon1" name="name_1" required>
                        <label for="">Name(ENG)</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Name(ENG)" aria-label="Username" aria-describedby="basic-addon1" name="name_2">
                        <div class="row">
                            <div class="col-6">
                                <label for="">ປະເພດສິນຄ້າ</label>
                                <select class="form-control form-control-sm" name="product_type" id="province">
                                    <option value="0">ສິນຄ້າ</option>
                                    <option value="1">ບໍລິການ</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <label for="">ປະເພດ ອມພ</label>
                                <select class="form-control form-control-sm" name="vat_type" id="city">
                                    <option value="0">ອມພ 0</option>
                                    <option value="1">ອມພແຍກນອກ</option>
                                    <option value="2">ອມພລວມໃນ</option>
                                    <option value="3">ຍົກເວັ້ນ ອມພ</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="col-6">
                                    <label for="">ຫົວໜ່ວຍ</label>
                                    <select class="form-control form-control-sm" name="unit_code" id="city">
                                        {%for item in unit %}
                                        <option value="{{item[0]}}">{{item[1]}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                            </div>
                        </div>
                        <hr>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">ບັນທຶກ</button>
            </div>
            </form>
        </div>
    </div>
</div>
<div class="card-body" style="background-color: #CACFD2;">
    <table id="example" class="table">
        <thead style="background-color: #1f2f39;color: #fff;">
            <tr>
                <th scope="col" style="width: 2%;text-align: center;background-color: #369DBB;">#</th>
                <th scope="col" style="width: 10%;text-align: center;background-color: #369DBB;">ລະຫັດ</th>
                <th scope="col" style="width: 100px;text-align: center;background-color: #369DBB;">ຊື່</th>
                <th scope="col" style="width: 10%;text-align: center;background-color: #369DBB;">ຫົວໜ່ວຍ</th>
                <th scope="col" style="width: 10%;text-align: center;background-color: #369DBB;">ປະເພດ ອມພ</th>
                <th scope="col" style="width: 10%;text-align: center;background-color: #369DBB;"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <th scope="row" style="text-align:center;vertical-align:middle;">{{item[0]}}</th>
                <td style="text-align: left;vertical-align:middle;">{{item[1]}}</td>
                <td style="text-align: left;vertical-align:middle;">{{item[2]}}</td>
                <td style="text-align: left;vertical-align:middle;">{{item[4]}}</td>
                <td style="text-align: left;vertical-align:middle;">{{item[7]}}</td>
                <td style="text-align: center;width: 60px;">




                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal{{item[0]}}"><i
                            class="bi bi-pencil-square"></i></a>&nbsp;&nbsp;
                    <a href="#" onclick="deleteitem('{{item[1]}}')"> <span style="color: #a30704;"> <i
                                class="bi bi-trash3"></i></span></a>
                </td>
            </tr>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{item[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">ແກ້ໃຂສິນຄ້າ</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="/update_product" method="post">
                            <div class="modal-body">
                                <label for="">ລະຫັດສິນຄ້າ</label>
                                <input type="text" class="form-control form-control-sm" placeholder="ລະຫັດ" value="{{item[1]}}" readonly style="width: 100px;" name="code">
                                <label for="">ຊື່(ລາວ)</label>
                                <input type="text" class="form-control form-control-sm" placeholder="ຊື່(ລາວ)" value="{{item[2]}}" aria-label="Username" aria-describedby="basic-addon1" name="name_1" required>
                                <label for="">Name(ENG)</label>
                                <input type="text" class="form-control form-control-sm" placeholder="Name(ENG)" value="{{item[3]}}" aria-label="Username" aria-describedby="basic-addon1" name="name_2">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="">ປະເພດສິນຄ້າ</label>
                                        <select class="form-control form-control-sm" name="product_type" id="province">
                                        {% if item[5] == 0 %}
                                        <option value="0" selected>ສິນຄ້າ</option>
                                        <option value="1">ບໍລິການ</option>
                                        {% else %}
                                        <option value="0">ສິນຄ້າ</option>
                                        <option value="1" selected>ບໍລິການ</option>
                                        {% endif %}
                                    </select>
                                    </div>
                                    <div class="col-6">
                                        <label for="">ປະເພດ ອມພ</label>
                                        <select class="form-control form-control-sm" name="vat_type" id="city">
                                        {% if item[6] == 0 %}
                                        <option value="0" selected>ອມພ 0</option>
                                        <option value="1">ອມພແຍກນອກ</option>
                                        <option value="2">ອມພລວມໃນ</option>
                                        <option value="3">ຍົກເວັ້ນ ອມພ</option>

                                        {% elif item[6] == 1 %}
                                        <option value="0">ອມພ 0</option>
                                        <option value="1" selected>ອມພແຍກນອກ</option>
                                        <option value="2">ອມພລວມໃນ</option>
                                        {% elif item[6] == 2 %}
                                        <option value="0">ອມພ 0</option>
                                        <option value="1">ອມພແຍກນອກ</option>
                                        <option value="2" selected>ອມພລວມໃນ</option>
                                        <option value="3">ຍົກເວັ້ນ ອມພ</option><option value="3">ຍົກເວັ້ນ ອມພ</option>

                                        {% else %}
                                        <option value="0" selected>ອມພ 0</option>
                                        <option value="1">ອມພແຍກນອກ</option>
                                        <option value="2">ອມພລວມໃນ</option>
                                        <option value="3">ຍົກເວັ້ນ ອມພ</option>
                                        {% endif %}

                                    </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="col-6">
                                            <label for="">ຫົວໜ່ວຍ</label>
                                            <select class="form-control form-control-sm" name="unit_code" id="city">

                                                {%for unit in unit %}
                                                <option value="{{unit[0]}}" {%if item[4] == unit[0]%} selected {%else%}{%endif%}>{{unit[1]}}</option>
                                                {%endfor%}


                                        </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function deleteitem(id) {
        Swal.fire({
            title: 'ທ່ານຕ້ອງການລົບລາຍການແທ້ບໍ?',
            text: "ທານຈະບໍ່ສາມາດເອີ້ນລາຍການນີ້ຄືນໄດ້!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ລົບເລີຍ!'
        }).then((result) => {
            fetch('/deleteproduct/' + id, {
                method: 'DELETE'
            }).then(res => {
                if (result.isConfirmed) {
                    if (res.status == '204') {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'ລາຍນີມີການເຄື່ອນໃຫວແລ້ວ!',

                        })
                    } else {
                        Swal.fire(
                            'ລົບແລ້ວ!',
                            'ລາຍການຂອງທ່ານຖືກລົບແລ້ວ.',
                            'success'
                        ).then(function() {
                            window.location = "/product";
                        });
                    }
                } else {
                    if (result.isConfirmed) {
                        Swal.fire(
                            'ລົບແລ້ວ!',
                            'ລາຍການຂອງທ່ານຖືກລົບແລ້ວ.',
                            'success'
                        ).then(function() {
                            window.location = "/product";
                        });
                    } else {

                    }
                }
            })

        })
    }
</script>
<style>
    #table_id th,
    #table_id2 th,
    table#example th {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        text-align: left !important;
        background-color: #04AA6D !important;
        color: white !important;
        font-size: 9pt !important;
        font-family: 'Noto Sans Lao', sans-serif !important;
    }
    
    tr:nth-of-type(odd) {
        background-color: rgba(245, 247, 250, .5) !important;
    }
    
    #table_id tr td,
    #table_id2 tr td,
    table#example tr td {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }
    
    #table_id td,
    #table_id th,
    #table_id2 td,
    #table_id2 th,
    table#example th {
        border: 1px solid #ddd !important;
        padding: 5px !important;
    }
    
    table#example td {
        background-color: #FAFBFC !important;
        font-family: 'Noto Sans Lao', sans-serif !important;
    }
    
    #table_id tr td,
    #table_id2 tr td {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }
    
    a.paginate_button.current {
        background: #444 !important;
        background-color: #22A7F2 !important;
        color: #fff !important;
    }
    
    .dataTables_wrapper .dataTables_paginate .paginate_button.current {
        color: #fff !important;
        border: 1px solid #E6F5FD !important;
    }
    
    .dataTables_paginate .paginate_button {
        background: #fff !important;
    }
    
    .dataTables_paginate .paginate_button:hover {
        background: #000 !important;
        color: #fff !important
    }
    
    tbody tr.even td,
    table#example.dataTable tbody tr {
        background-color: #f2f2f2 !important;
    }
    
    table#example {
        border: 0px !important;
        background-color: #FAFBFC !important;
    }
    
    table#example tr td {
        border: 1px solid #ddd !important;
    }
    
    table#example tr:nth-of-type(even) td {
        background-color: rgb(245, 247, 250) !important;
    }
    
    table#example tr td {
        color: #000 !important;
    }
</style>
{% endblock %}