{% extends "layout/layout.html" %} {% block title %}ລາຍການອອກໃບເກັບເງິນ{% endblock %} {% block head %}
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/tb2.css') }}"> -->
<style>
    #example {
        font-family: "phetsarath ot";
        font-size: 12px;
        border-collapse: collapse;
        width: 100%;
    }
    
    #example td,
    #example th {
        border: 1px solid #ddd;
        padding: 5px;
    }
    
    #example tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    #example tr:hover {
        background-color: #ddd;
    }
    
    #example th {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }
    
    .form-control {
        font-size: 12px;
    }
    
    label {
        font-size: 12px;
    }
    
    h5 {
        margin-top: 10px;
        font-size: 15px;
    }
    
    a {
        font-family: 'phetsarath ot';
    }
    
    p {
        margin: 0px;
        font-size: 12px;
    }
    
    .button {
        background-color: #4CAF50;
        /* Green */
        border: none;
        color: white;
        padding: 2px 2px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        /* margin: 2px 2px; */
        transition-duration: 0.4s;
        cursor: pointer;
        width: 100px;
    }
    
    .button1 {
        background-color: white;
        color: black;
        border: 2px solid #4CAF50;
    }
    
    .button1:hover {
        background-color: #4CAF50;
        color: white;
    }
    
    .button2 {
        background-color: white;
        color: black;
        border: 2px solid #a30704;
    }
    
    .button2:hover {
        background-color: #a30704;
        color: white;
    }
    
    .button3 {
        background-color: white;
        color: black;
        border: 2px solid #0536a9;
    }
    
    .button3:hover {
        background-color: #0536a9;
        color: white;
    }
    
    select,
    option,
    p,
    span,
    input {
        font-size: 8pt !important;
    }
</style>
{{ super() }} {% endblock %} {% block content %}
<script>
    function getva() {
        id = document.getElementById('month_part').value
        window.location.href = "/Recipt/" + id
    }
</script>
<h6 class="card-header" style="background-color: #EFEFEF;">
    <input type="month" class="form-control" style="width: 200px;" value="{{month_part}}" onchange="getva()" id="month_part">
</h6>
<div class="card-body" style="background-color: #CACFD2;">
    <table id="example">
        <thead style="background-color: #1f2f39;color: #fff;">
            <tr>
                <th scope="col" style="width: 2%;text-align: center;background-color: #369DBB;">#</th>
                <th scope="col" style="width: 10%;text-align: center;background-color: #369DBB;">ເລກບີນ</th>
                <th scope="col" style="width: 10%;text-align: center;background-color: #369DBB;">ວັນທີ</th>
                <th scope="col" style="width: 10%;text-align: center;background-color: #369DBB;">ລະຫັດລູກຄ້າ</th>
                <th scope="col" style="width: 200px;text-align: center;background-color: #369DBB;">ຊື່</th>
                <th scope="col" style="width: 15%;text-align: center;background-color: #369DBB;">ມູນຄ່າ</th>
                <th scope="col" style="width: 10%;text-align: center;background-color: #369DBB;"></th>
                <th scope="col" style="width: 30px;text-align: center;background-color: #369DBB;"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in polist %}
            <tr {%if item[8]==0 %} {%else%} class="active" {%endif%}>
                <th scope="row" style="text-align:center;vertical-align:middle;">{{item[0]}}</th>
                <td style="text-align: left;vertical-align:middle;">{{item[1]}}</td>
                <td style="text-align: left;vertical-align:middle;">{{item[2]}}</td>
                <td style="text-align: left;vertical-align:middle;">{{item[3]}}</td>
                <td style="text-align: left;vertical-align:middle;">
                    {{item[4]}} (<span style="color:#D35400;font-weight: bold;font-size: 12px !important;">{{item[5]}}</span>)
                </td>
                <td style="text-align: right;vertical-align:middle;font-weight: bold;color: #031cbb;font-weight: bold;">
                    {{item[6]}}</td>
                <td style="text-align: right;vertical-align:middle;font-weight: bold;width: 100px !important ;padding: 0px;margin: 0px;">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            {%if item[9]==0%}
                            <span style="font-size: 11px;color: #DB5B02;"> <i class="bi bi-check2-circle"></i>
                                &nbsp;ຍັງບໍອະນຸມັດ</span>
                            {% else %}
                            <span style="font-size: 11px;color: #4CAF50;"> <i class="bi bi-check2-circle"></i>
                                &nbsp;ອະນຸມັດແລ້ວ</span>
                            {% endif %}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li>
                                <a class="dropdown-item" href="#" onclick="return confirm('ທ່ານຕ້ອງການອະນຸມັດແທ້ບໍ ?')" style="font-size: 11px;color: #0536a9;"><i
                                        class="bi bi-check2-circle"></i> &nbsp;ອະນຸມັດ</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                {%if item[8]==0%}
                                <a class="dropdown-item" href="#" style="font-size: 11px;color: #7104b4;" onclick="vatpass('{{item[1]}}')"><i
                                        class="bi bi-file-earmark-diff"></i>&nbsp;ແຈ້ງອາກອນ</a> {% else %}
                                <a class="dropdown-item disabled" href="#" style="font-size: 11px;color: #29B001;"><i
                                        class="bi bi-file-earmark-check"></i>&nbsp;ແຈ້ງອາກອນແລ້ວ</a> {% endif %}
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" onclick="deleteitem('{{item[1]}}')" style="font-size: 10px;color: #950303;"><i
                                        class="bi bi-x-octagon"></i>&nbsp;ຍົກເລີກບິນ</a>
                            </li>
                        </ul>
                    </div>

                </td>
                <td style="text-align: center;width: 60px;"> {%if item[8] == 0%}
                    <a href="/printbill/{{item[1]}}" target="_blank"><i class="bi bi-printer"></i></a>&nbsp;&nbsp;
                    <a href=""><i class="bi bi-pencil-square"></i></a>&nbsp;&nbsp;
                    <a href="#" onclick="deleteitem('{{item[1]}}')"><i class="bi bi-trash"></i></a> {%else%} <a href="/printbill/{{item[1]}}" target="_blank"><i class="bi bi-printer"></i></a>&nbsp;&nbsp;
                    <b>ສົ່ງຂໍ້ມູນເເລ້ວ</b> {%endif%}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<style>
    tr.active td,
    tr.active td span {
        background-color: #C6EFC6 !important;
        color: #444 !important;
        font-weight: bold !important;
    }
    
    tr.active td {
        border: 1px solid #00a65a !important;
    }
</style>
<script>
    function deleteitem(id) {
        Swal.fire({
            title: 'ທ່ານຕ້ອງການລົບຂໍ້ມູນແທ້ບໍ?',
            text: "ທ່ານຈະບໍ່ສາມາດຮ້ອງຄືນຂໍ້ມູນນີ້ໃດ້!",
            type: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ເຈົ້າ, ແມ່ນແລ້ວ!',
            cancelButtonText: 'ບໍ່,ກັບຄືນ!',
        }).then((result) => {
            if (result.isConfirmed) {
                location.href = "/deleteDocno/" + id + window.location.pathname;
            }
        })
        console.log(window.location.pathname, 'fgdf')
    }
</script>
<script>
    // function deleteitem(id) {
    //     Swal.fire({
    //         title: 'ທ່ານຕ້ອງການລົບເອກະສານແທ້ບໍ?',
    //         text: "ທານຈພບໍສາມາດເອີ້ນເອກະສ່ນີ້ຄືນໄດ້!",
    //         icon: 'warning',
    //         showCancelButton: true,
    //         confirmButtonColor: '#3085d6',
    //         cancelButtonColor: '#d33',
    //         confirmButtonText: 'ລົບເລີຍ!'
    //     }).then((result) => {
    //         fetch('/deleteDocno/' + id, {
    //             method: 'DELETE'
    //         }).then(res => {
    //             if (result.isConfirmed) {
    //                 if (res.status == '204') {
    //                     Swal.fire({
    //                         icon: 'error',
    //                         title: 'Oops...',
    //                         text: 'ເອກະສານນີມີການເຄື່ອນໃຫວແລ້ວ!',

    //                     })
    //                 }
    //                 else {

    //                 }
    //             } else {
    //                 if (result.isConfirmed) {
    //                     Swal.fire(
    //                         'ລົບແລ້ວ!',
    //                         'ເອກະສ່ນຂອງທ່ານຖອກລົບແລ້ວ.',
    //                         'success'
    //                     ).then(function () {
    //                         window.location = "/Recipt";
    //                     });
    //                 }
    //                 else {

    //                 }
    //             }
    //         }
    //         )

    //     })
    // }
    function vatpass(id) {
        Swal.fire({
            title: 'ທ່ານຕ້ອງການແຈ້ງອພມແທ້ບໍ?',
            text: "ຖ້າທ່ານແຈ້ງແລ້ວບໍສາມາດແກ້ໃຂເອກະສານໃ!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ແຈ້ງເລີຍ!'
        }).then((result) => {

            if (result.isConfirmed) {
                Swal.fire(
                    'ສຳເລັດ!',
                    'ການແຈ້ງອາກອນຂອງທ່ານສຳເລັດ.',
                    'success'
                ).then(function() {
                    window.location = "/postvat/" + id;
                });
            }

        })
    }
</script>

{% endblock %}