{% extends "layout/layout.html" %} {% block title %}ອອກໃບເກັບເງິນ{% endblock %} {% block head %} {{ super() }}
<style>
    @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
    body {
        font-family: "Noto Sans Lao";
    }
    
    #customers {
        font-family: "Noto Sans Lao";
        font-size: 10px;
        border-collapse: collapse;
        width: 100%;
    }
    
    #customers td,
    #customers th {
        border: 1px solid #ddd;
        padding: 5px;
    }
    
    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    #customers tr:hover {
        background-color: #ddd;
    }
    
    #customers th {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }
    
    .form-control {
        font-size: 12px;
    }
    
    label {
        font-size: 12px;
    }
    
    h5 {
        margin-top: 10px;
        font-size: 15px;
    }
    
    a {
        font-family: 'Noto Sans Lao';
    }
    
    p {
        margin: 0px;
        font-size: 12px;
    }
    
    .button {
        background-color: #4CAF50;
        /* Green */
        border: none;
        color: white;
        padding: 2px 2px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        margin: 2px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        /* width: 100px; */
        /* height: 30px; */
    }
    
    .button1 {
        background-color: white;
        color: black;
        border: 2px solid #4CAF50;
    }
    
    .button1:hover {
        background-color: #4CAF50;
        color: white;
    }
    
    .button2 {
        background-color: white;
        color: black;
        border: 2px solid #b08517;
    }
    
    .button2:hover {
        background-color: #b08517;
        color: white;
    }
    
    .button3 {
        background-color: white;
        color: black;
        border: 2px solid #0536a9;
    }
    
    .button3:hover {
        background-color: #0536a9;
        color: white;
    }
</style>
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/tb.css') }}"> -->
{% endblock %} {% block content %}
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <table id="customers">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 5%;text-align: center;background-color: #369DBB;">ລະຫັດ</th>
                            <th scope="col" style="width: 30%;text-align: center;background-color: #369DBB;">ຊື່ລູກຄ້າ
                            </th>
                            <th scope="col" style="width: 5%;text-align: center;background-color: #369DBB;">ເບີໂທ</th>
                            <th scope="col" style="width: 2%;text-align: center;background-color: #369DBB;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in ar_customer %}
                        <tr>
                            <th scope="row" style="vertical-align: middle;text-align: center;">{{item[0]}}</th>
                            <td style="vertical-align: middle;text-align: left;">{{item[1]}}</td>
                            <td style="vertical-align: middle;text-align: left;">{{item[2]}}</td>
                            <td style="vertical-align: middle;text-align: center;">
                                <a href="/ReciptNew/{{item[0]}}/{{vat_type_default}}" class="btadd button1 "><i class="fas fa-check-circle"></i>&nbsp;ເລືອກ</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">ອອກ</button>
            </div>
        </div>
    </div>
</div>

<div class="card" style="background-color: #fff;padding: 0;margin: 0;">
    <div class="card-body">
        <form action="/saverc" method="post">
            <table>
                <tr>
                    <td style="width: 66%;background-color: #fff;border: 0; margin: 0;padding-top: 0;">
                        <h5 style="color: #444;"><i class="fa fa-sticky-note" aria-hidden="true" style="color: #026E57;"></i> ສ້າງໃບຮັບເງິນ</h5>
                        <h4 style="color: #026E57;font-weight: 800;" id="new_doc">{{doc_no}}</h4>

                    </td>
                    <td style="width: 34%;background-color: #fff;border: 0;text-align: end;vertical-align:middle;color: #fff;font-size: 12px;">
                    </td>
                    <td style="width: 20%;background-color: #fff;border: 0;text-align: end;vertical-align:middle;color: #fff;font-size: 14px;">
                        <button type="button" class="btn btn-outline-secondary btn-sm p-1" onclick="window.location.href = '/cleaivdraft'" style="width: 80px;font-size: 9pt !important;">ອອກ</button>
                    </td>
                    <td style="width: 14%;background-color: #fff;border: 0;">
                        <button type="submit" class="btn btn-success btn-sm p-1" style="width: 80px;font-size: 9pt !important;">ບັນທຶກ</button>

                    </td>
                </tr>
            </table>
            <input type="hidden" value="{{saletype}}" name="saletypesss" id="saletype">
            <input type="hidden" value="{{vat_type_default}}" name="vattype_value">
            <input type="hidden" value="{{doc_no}}" name="doc_no" id="docc_no">
            <hr style="margin-top: 0;padding-top: 0;">
            <div class="row mb-1">
                <div class="col-sm-3">
                    <div>
                        <h5>ຊື່ລູກຄ້າ: <a href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i
                                    class="bi bi-pencil-square"></i></a>
                            <h5 style="font-weight: bold;color: #026E57;">{{customer[0]}}-{{customer[1]}} </h5>
                        </h5>
                    </div>

                </div>
                <div class="col-sm-6">
                </div>
                <div class="col-sm" style="font-size: 9pt;color:#026E57">
                    <p style="color: #000;">ຈຳນວນເງິນທັງໝົດ</p>
                    <div class="form-floating">
                        <p style="font-size: 25pt !important;color: #026E57;"> {{'{:,.2f}'.format(total_amount)}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <p style="color: #444;">ຂໍ້ມູນລູກຄ້າ</p>
                    <div class="form-floating">
                        <textarea class="form-control" rows="3" style="background-color: #fff;font-weight: 900;" readonly>{{customer[2]}}</textarea>
                        <label for="floatingTextarea2">ລາຍລະອຽດທີ່ຢູ່</label>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text " id="basic-addon1 " style="width: 140px;background-color: #fff;font-weight: 900;">
                            ເບີໂທ</span>
                        <input type="text" class="form-control form-control-sm " aria-label="Username " value="{{customer[3]}}" style="background-color: #fff;font-weight: 900;" readonly aria-describedby="basic-addon1">
                    </div>
                    <!-- <input type="text " class="form-control form-control-sm " aria-label="Username " aria-describedby="basic-addon1 " name="cust_code" placeholder="ເລກປະຈຳຕົວຜູ້ເສຍອາກອນ"> -->
                </div>
                <div class="col-sm-5"></div>
                <div class="col-sm" style="font-size: 9pt;color:#026E57">
                    <div class="mb row">
                        <label for="example" class="col-sm-4 col-form-label">ວັນທີ:</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control form-control-sm" value="{{day_}}" name="doc_date" onchange="change_doc(this.value)" />
                        </div>
                    </div>
                    <div class="mb row">
                        <label for="example" class="col-sm-4 col-form-label">ຜູ້ອອກບິນ:</label>
                        <div class="col-sm-8">
                            <input type="text" value="{{username}}" class="form-control" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- for add to db -->
            <div class="card-body  p-0" style="background-color: #fff; margin: 0; padding: 5; ">
                <div class="row mb-2">
                    <div class="col">
                        <div class="input-group">
                            <span class="input-group-text " id="basic-addon1 " style="width: 140px;background-color: #fff;font-weight: 900;">
                                ເລກປະຈຳຕົວຜູ້ເສຍອາກອນ</span>
                            <input type="text" class="form-control form-control-sm " aria-label="Username " style="background-color: #fff;font-weight: 900;" readonly aria-describedby="basic-addon1" value="{{customer[4]}}">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1 " style="width: 140px;background-color: #fff;font-weight: 900;">
                                ເລກອ້າງອີງ</span>
                            <input type="text" class="form-control form-control-sm " aria-label="Username " aria-describedby="basic-addon1" name="doc_ref ">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <span class="input-group-text " id="basic-addon1 " style="width: 140px;background-color: #fff;font-weight: 900;">
                                ອມພ</span>
                            <select class="form-select form-select-sm" aria-label="Username " onchange="vatselectdata()" id="vattype" aria-describedby="basic-addon1">
                                {% if vat_type_default=='0' %}
                                <option selected value="0">ອມພ 0</option>
                                <option value="1">ອມພແຍກນອກ</option>
                                <option value="2">ອມພລວມໃນ</option>
                                <option value="3">ຍົກເວັ້ນ ອມພ</option>
                                {% elif vat_type_default=='1' %}
                                <option value="0">ອມພ 0</option>
                                <option selected value="1">ອມພແຍກນອກ</option>
                                <option value="2">ອມພລວມໃນ</option>
                                <option value="3">ຍົກເວັ້ນ ອມພ</option>
                                {% elif vat_type_default=='2' %}
                                <option value="0">ອມພ 0</option>
                                <option value="1">ອມພແຍກນອກ</option>
                                <option selected value="2">ອມພລວມໃນ</option>
                                <option value="3">ຍົກເວັ້ນ ອມພ</option>
                                {% else %}
                                <option value="0">ອມພ 0</option>
                                <option value="1">ອມພແຍກນອກ</option>
                                <option value="2">ອມພລວມໃນ</option>
                                <option selected value="3">ຍົກເວັ້ນ ອມພ</option>
                                {% endif %}


                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <span class="input-group-text " id="basic-addon1 " style="width: 140px;background-color: #fff;font-weight: 900;">
                                ໝາຍເຫດ</span>
                            <textarea class="form-control " id="exampleFormControlTextarea1 " rows="2 " placeholder="" name="op_tramark" aria-label="Username " aria-describedby="basic-addon1" id="remarkk"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <div class="card-body p-0" style="background-color: #fff; ">
            <table id="customers">
                <thead>
                    <tr>
                        <th scope="col " style="font-size: 12px;vertical-align: middle;width: 2%; ">-
                        </th>
                        <th scope="col " style="font-size: 12px;vertical-align: middle;width: 3%;">#
                        </th>
                        <th scope="col " style="text-align: left;font-size: 12px;vertical-align: middle;width: 8%;">
                            ລະຫັດສິນຄ້າ</th>
                        <th scope="col " style="text-align: left;font-size: 12px;vertical-align: middle;width: 40%;">
                            ຊື່ສິນຄ້າ</th>
                        <th scope="col " style="text-align: center;font-size: 12px;vertical-align: middle;width: 8%;">
                            ຈຳນວນ</th>
                        <th scope="col " style="text-align: center;font-size: 12px;vertical-align: middle;width: 9%;">
                            ຫົວໜ່ວຍ</th>
                        <th scope="col " style="text-align: center;font-size: 12px;vertical-align: middle;width: 8%;">
                            ລາຄາ</th>
                        <th scope="col " style="text-align: center;font-size: 12px;vertical-align: middle;width: 8%;">
                            ສ່ວນຫລຸດ</th>
                        <th scope="col " style="text-align: center;font-size: 12px;vertical-align: middle;width: 14%;">
                            ລາຄາລວມ</th>
                    </tr>
                </thead>
                <tbody>
                    {% if dataitem =='nodata' %}
                    <tr>
                        <td style="text-align: end;font-size: 12px;vertical-align: middle; "></td>
                        <td style="text-align: end;font-size: 12px;vertical-align: middle; "></td>
                        <td style="text-align: end;font-size: 12px;vertical-align: middle; ">
                            <button class="btn-block btn-primary " style="font-size: 10px; height: 20px; text-align: center; text-decoration: none; display: inline-block; " data-bs-toggle="modal" data-bs-target="#productshow"><i
                                    class="fas fa-search-plus "></i>ເລືອກ</button>
                        </td>
                        <td style="text-align: end;font-size: 12px;vertical-align: middle;height: 28px; "></td>
                        <td style="text-align: end;font-size: 12px;vertical-align: middle; "></td>
                        <td style="text-align: end;font-size: 12px;vertical-align: middle; "></td>
                        <td style="text-align: end;font-size: 12px;vertical-align: middle; "></td>
                        <td style="text-align: end;font-size: 12px;vertical-align: middle; "></td>
                        <td style="text-align: end;font-size: 12px;vertical-align: middle; "></td>
                    </tr>
                    {% else %} {% for item in podetail %}
                    <tr>
                        <td style="text-align: end;font-size: 12px;vertical-align: middle; ">
                            <a href="/deletepoitem/{{item[11]}}/{{saletype}}/{{vat_type_default}}">
                                <span style="color: red; "><i class="bi bi-trash3-fill"></i></span>
                            </a>
                        </td>
                        <td style="text-align: end;font-size: 12px;vertical-align: middle; ">
                            {{item[0]}}</td>
                        <td style="text-align: start;font-size: 12px;vertical-align: middle; ">
                            {{item[1]}}

                        </td>
                        <td style="text-align: start;font-size: 12px;vertical-align: middle; border: 0px;" class="d-flex justify-content-between">

                            <a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{item[1]}}">{{item[2]}}&nbsp;&nbsp;<i class="bi bi-pen"></i></a>
                            <span> {%if item[12] == 0%}(ອມພ 0){%elif item[12] == 1%}(ອມພແຍກນອກ){%elif item[12] == 2%}(ອມພລວມໃນ){%elif item[12] == 3%}(ຍົກເວັ້ນ ອມພ){%else%}{%endif%}</span>

                        </td>
                        <td style="text-align: center;font-size: 12px;vertical-align: middle; ">
                            <form action="/updatepoqty" method="post">
                                <input type="hidden" name="vate_defualt" value="{{vat_type_default}}">
                                <input type="hidden" name="roworder" value="{{item[11]}}">
                                <input type="hidden" name="cust_code" value="{{saletype}}">
                                <input type="hidden" name="price" value="{{item[7]}}" v>
                                <input type="text" value="{{'{:,}'.format(item[3])}}" name="qty" class="form-control form-control-sm text-end">
                            </form>

                        </td>
                        <td style="text-align: end;font-size: 12px;vertical-align: middle; ">
                            {{item[4]}}
                        </td>
                        <td style="text-align: end;font-size: 12px;vertical-align: middle; ">
                            <!-- <input type="text" value="{{item[5]}}" class="form-control form-control-sm text-end"> -->
                            <form action="/updatepoprice" method="post">
                                <input type="hidden" name="vate_defualt" value="{{vat_type_default}}">
                                <input type="hidden" name="roworder" value="{{item[11]}}">
                                <input type="hidden" name="cust_code" value="{{saletype}}">
                                <input type="text" value="{{'{:,}'.format(item[5])}}" name="price" class="form-control form-control-sm text-end">
                                <input type="hidden" value="{{item[3]}}" name="qty">
                            </form>
                        </td>
                        <td style="text-align: end;font-size: 12px;vertical-align: middle; ">
                            {{item[6]}}</td>
                        <td style="text-align: end;font-size: 12px;vertical-align: middle;;padding-right: 10px; ">
                            {{'{:,.2f}'.format(item[7])}}</td>
                    </tr>
                    <!-- Button trigger modal -->
                    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        Launch static backdrop modal
                    </button> -->

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop{{item[1]}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <form action="/updatename" method="post">
                                    <div class="modal-body">

                                        <input type="text" name="name_1" id="" value="{{item[2]}}" class="form-control">
                                        <input type="hidden" name="vate_defualt" value="{{vat_type_default}}">
                                        <input type="hidden" name="roworder" value="{{item[11]}}">
                                        <input type="hidden" name="cust_code" value="{{saletype}}">

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button " class="btn btn-danger btn-sm" data-bs-dismiss="modal">ອອກ</button>
                                        <button type="submit" class="btn btn-primary btn-sm">ປັບປຸງ</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <tr id="nodata">
                        <td style="text-align: end;font-size: 12px;vertical-align: middle; "></td>
                        <td style="text-align: end;font-size: 12px;vertical-align: middle;height: 28px; "></td>
                        <td style="text-align: center;font-size: 12px;vertical-align: middle; ">
                            <button type="button" class="btn btn-primary btn-sm p-0" style="font-size: 10px; height: 20px; width: 100px;text-align: center; text-decoration: none; display: inline-block; " data-bs-toggle="modal" data-bs-target="#productshow"><i class="fas fa-search-plus "></i>
                                ເລືອກ</button>
                            <!-- <button type="button" class="button button1" data-toggle="modal" data-target="#productlst">
                                        ເລືອກ
                                      </button> -->
                        </td>
                        <td style="text-align: end;font-size: 12px;vertical-align: middle; "></td>
                        <td style="text-align: end;font-size: 12px;vertical-align: middle; "></td>
                        <td style="text-align: end;font-size: 12px;vertical-align: middle; "></td>
                        <td style="text-align: end;font-size: 12px;vertical-align: middle; "></td>
                        <td style="text-align: end;font-size: 12px;vertical-align: middle; "></td>
                        <td style="text-align: end;font-size: 12px;vertical-align: middle; "></td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td colspan="8 " style="text-align: end;font-size: 14px;vertical-align: middle; border: 0;font-weight: bold;background-color: #1a9177;color: #fff; ">
                            ມູນຄ່າຂາຍ:</td>
                        <td style="text-align: end;font-size: 14px;vertical-align: middle;font-weight: bold;background-color: #F2F2F2;padding-right: 10px; ">
                            {{'{:,.2f}'.format(total_value)}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8 " style="text-align: end;font-size: 14px;vertical-align: middle; border: 0;font-weight: bold;background-color: #1a9177;color: #fff; ">
                            ສ່ວນຫຼຸດ:</td>
                        <td style="text-align: end;vertical-align: middle;font-weight: bold; background-color: #F2F2F2; padding: 0px;">
                            <input type="text " class="form-control text-end" value="0 " style="text-align: right;width: 100%;border: 0;padding-right: 9px;font-size: 14px !important;" id="discount " onchange="discount_change() ">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8 " style="text-align: end;font-size: 14px;vertical-align: middle;border: 0;font-weight: bold;background-color: #1a9177;color: #fff; ">
                            ມູນຄ່າກ່ອນອມພ:</td>
                        <td style="text-align: end;font-size: 14px;vertical-align: middle;font-weight: bold;background-color: #F2F2F2;padding-right: 10px;">
                            {{'{:,.2f}'.format(total_befor_vat)}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8 " style="text-align: end;font-size: 14px;vertical-align: middle;border: 0;font-weight: bold;background-color: #1a9177;color: #fff; ">
                            ອມພ 7 %:</td>
                        <td style="text-align: end;font-size: 14px;vertical-align: middle;font-weight: bold;background-color: #F2F2F2;padding-right: 10px; ">
                            {{'{:,.2f}'.format(total_vat_values)}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="productshow" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">ລາຍການສິນຄ້າ</h5>
                <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table style="width: 100%;" id="customers">
                    <thead>
                        <tr>
                            <th scope="col " style="width:2px;font-size: 10pt;text-align: center;background-color: #369DBB; ">#</th>
                            <th scope="col " style="width: 80px;;font-size: 10pt;text-align: center;background-color: #369DBB; ">
                                ລະຫັດ
                            </th>
                            <th scope="col " style="width:350px;font-size: 10pt;text-align: center;background-color: #369DBB; ">ຊື່
                            </th>
                            <th scope="col " style="width:10px;font-size: 10pt;text-align: center;background-color: #369DBB; ">
                                ຫົວໜ່ວຍ
                            </th>
                            <th scope="col " style="width:100px;font-size: 10pt;text-align: center;background-color: #369DBB; ">
                                ປະເພດ ອມພ
                            </th>
                            <th scope="col " style="width:1px;font-size: 10pt;text-align: center;background-color: #369DBB; "></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in product %}
                        <tr style="background-color: white;color: #444; ">
                            <td style="text-align: left;font-size: 8pt; ">{{item[0]}}</td>
                            <td style="text-align: left;font-size: 8pt; ">{{item[1]}}</td>
                            <td style="text-align: left;font-size: 8pt; ">{{item[2]}}</td>
                            <td style="text-align: center;font-size: 8pt; ">{{item[3]}}</td>
                            <td style="text-align: center;font-size: 8pt; ">{{item[4]}}</td>
                            <td>
                                <form action="/addpoitem" method="post">
                                    <input type="hidden" name="vate_defualt" value="{{vat_type_default}}">
                                    <input type="hidden" value="{{item[1]}}" name="code">
                                    <input type="hidden" value="{{item[2]}}" name="name_1">
                                    <input type="hidden" value="{{item[3]}}" name="unit_code">
                                    <input type="hidden" value="{{saletype}}" name="custcode">
                                    <input type="hidden" value="{{item[5]}}" name="tax_type">
                                    <button type="submit " class="btn-block btn-primary " style="font-size: 10px; height: 20px; text-align: center; text-decoration: none; display: inline-block; ">ເລືອກ</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div> -->
        </div>
    </div>
</div>

<style>
    body {
        background-color: #EFEFEF !important;
    }
    
    select,
    option,
    p,
    span,
    input {
        font-size: 8pt !important;
    }
    
    #customers thead th {
        background-color: #1a9177 !important;
        color: #fff !important
    }
    
    #customers tr#nodata td {
        background-color: #F2f2f2 !important;
        color: #444 !important
    }
</style>

<script>
    function vatselectdata() {
        var vatid = document.getElementById('vattype').value
        var saletype = document.getElementById('saletype').value
        console.log(vatid)
        window.location.href = '/vatprocess/' + saletype + '/' + vatid;
    }
</script>

<script>
    function change_doc(dd) {
        const d = new Date(dd);
        let year = d.getFullYear();
        let month = (d.getMonth() + 1).toString().padStart(2, "0");
        let yearmonth = year + "-" + month;
        let ym = year + month;
        console.log(dd, ym, yearmonth);

        fetch('change_doc/' + ym + '/' + yearmonth).then(function(response) {
            response.json().then(function(data) {
                optionHTML = '';
                for (city_rs of data.citylist) {
                    // optionHTML += "<option value='" + city_rs[0] + "'>" + city_rs[1] + "</option>"
                    // new_doc.innerHTML = city_rs[0];
                    document.getElementById('docc_no').value = city_rs;
                    new_doc.innerHTML = document.getElementById('docc_no').value;
                    console.log('THAT', city_rs)
                }
                // s_city_2.innerHTML = "<option value='' selected hidden>ເລືອກເມືອງ...</option>" + optionHTML;
            });
        });
    }
</script>

{% endblock %}