{% extends "layout/layout.html" %}
{% block title %}ລາຍການຜູ້ຕິດຕໍ່{% endblock %}
{% block head %}
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/tb2.css') }}"> -->
<style>
    @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

    #example {
        font-family: "Noto Sans Lao";
        font-size: 12px;
        border-collapse: collapse;
        width: 100%;
    }

    #example td,
    #example th {
        border: 1px solid #ddd;
        padding: 5px;
    }

    #example tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #example tr:hover {
        background-color: #ddd;
    }

    #example th {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }


    .form-control {
        font-size: 12px;
    }

    label {
        font-size: 12px;
    }

    h5 {
        margin-top: 10px;
        font-size: 15px;
    }

    a {
        font-family: 'phetsarath ot';
    }

    p {
        margin: 0px;
        font-size: 12px;
    }

    .button {
        background-color: #4CAF50;
        /* Green */
        border: none;
        color: white;
        padding: 2px 2px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        /* margin: 2px 2px; */
        transition-duration: 0.4s;
        cursor: pointer;
        width: 100px;
    }

    .button1 {
        background-color: white;
        color: black;
        border: 2px solid #4CAF50;
    }

    .button1:hover {
        background-color: #4CAF50;
        color: white;
    }

    .button2 {
        background-color: white;
        color: black;
        border: 2px solid #a30704;
    }

    .button2:hover {
        background-color: #a30704;
        color: white;
    }

    .button3 {
        background-color: white;
        color: black;
        border: 2px solid #0536a9;
    }

    .button3:hover {
        background-color: #0536a9;
        color: white;
    }

    select,
    option,
    p,
    span,
    input {
        font-size: 8pt !important;
    }

    .modal {
        font-family: "Noto Sans Lao";
    }
</style>
{{ super() }}
{% endblock %}
{% block content %}


<h6 class="card-header" style="background-color: #EFEFEF;">
    <a href="#" class="btn btn-success btn-sm" style="width: 150px;" data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;ເພີ່ມຜູ້ຕິດຕໍ່</a>
</h6>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">ເພີ່ມຜູ້ສະໜອງ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/save_cust" method="post">
                    <div class="card-body">
                        <label for="">ລະຫັດລູກໜີ້</label>
                        <input type="text" class="form-control form-control-sm" placeholder="ລະຫັດ"
                            style="width: 100px;" name="code" value="{{ar_code}}" readonly>
                        <label for="">ຊື່(ລາວ)</label>
                        <input type="text" class="form-control form-control-sm" placeholder="ຊື່(ລາວ)"
                            aria-label="Username" aria-describedby="basic-addon1" name="name_1" required>
                        <label for="">Name(ENG)</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Name(ENG)"
                            aria-label="Username" aria-describedby="basic-addon1" name="name_2" required>
                        <label for="">ທີ່ຢູ່</label>
                        <input type="text" class="form-control form-control-sm" placeholder="ທີ່ຢູ່"
                            aria-label="Username" aria-describedby="basic-addon1" name="address">
                        <div class="row">
                            <div class="col-6">
                                <label for="">ແຂວງ</label>
                                <select class="form-control form-control-sm" name="province" id="province"
                                    onchange="show_citylist()">
                                    <option value="">...ເລືອກ</option>
                                    {% for item in province %}
                                    <option value="{{item[0]}}">{{item[1]}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <label for="">ເມືອງ</label>
                                <select class="form-control form-control-sm" name="city" id="city">
                                    <option>...ເລືອກ</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="">ເບີໂທ</label>
                                <input class="form-control form-control-sm" type="text" placeholder="ເບີໂທ" name="tel"
                                    aria-label=".form-control-sm example">

                            </div>
                            <div class="col-6">
                                <label for="">ເລກປະຈຳຕົວຜູ້ເສຍອາກອນ</label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="ເລກປະຈຳຕົວຜູ້ເສຍອາກອນ" name="tax_id"
                                    aria-label=".form-control-sm example">
                            </div>
                        </div>
                        <hr>

                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ອອກ</button>
                <button type="submit" class="btn btn-primary">ບັນທຶກ</button>
            </div>
            </form>
        </div>
    </div>
</div>
<div class="card-body" style="background-color: #CACFD2;">
    <table id="example">
        <thead style="background-color: #1f2f39;color: #fff;">
            <tr>
                <th scope="col" style="width: 2%;text-align: center;background-color: #369DBB;">#</th>
                <th scope="col" style="width: 10%;text-align: center;background-color: #369DBB;">ລະຫັດລູກຄ້າ</th>
                <th scope="col" style="width: 100px;text-align: center;background-color: #369DBB;">ຊື່</th>
                <th scope="col" style="width: 250px;text-align: center;background-color: #369DBB;">ທີ່ຢູ່</th>
                <th scope="col" style="width: 10%;text-align: center;background-color: #369DBB;">ເບີໂທ</th>
                <th scope="col" style="width: 10%;text-align: center;background-color: #369DBB;"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <th scope="row" style="text-align:center;vertical-align:middle;">{{item[0]}}</th>
                <td style="text-align: left;vertical-align:middle;">{{item[1]}}</td>
                <td style="text-align: left;vertical-align:middle;">{{item[2]}}</td>
                <td style="text-align: left;vertical-align:middle;">{{item[3]}}</td>
                <td style="text-align: left;vertical-align:middle;">{{item[8]}}</td>
                <td style="text-align: center;width: 60px;">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#smlaoeditcontract{{item[0]}}"><i
                            class="bi bi-pencil-square"></i></a>&nbsp;&nbsp;
                    <a href="#" onclick="deleteitem('{{item[1]}}')"> <span style="color: #a30704;"> <i
                                class="bi bi-trash3"></i></span></a>
                </td>
            </tr>
            <!-- Modal -->
            <div class="modal fade" id="smlaoeditcontract{{item[0]}}" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">ແກ້ໃຂລະບົບ</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="/update_cust" method="post">
                        <div class="modal-body">
                                <div class="card-body">
                                    <label for="">ລະຫັດລູກໜີ້</label>
                                    <input type="text" class="form-control form-control-sm" placeholder="ລະຫັດ"
                                        style="width: 100px;" name="code" value="{{item[1]}}" readonly>
                                    <label for="">ຊື່(ລາວ)</label>
                                    <input type="text" class="form-control form-control-sm" placeholder="ຊື່(ລາວ)"
                                        aria-label="Username" aria-describedby="basic-addon1" name="name_1"
                                        value="{{item[2]}}">
                                    <label for="">Name(ENG)</label>
                                    <input type="text" class="form-control form-control-sm" placeholder="Name(ENG)"
                                        value="{{item[4]}}" aria-label="Username" aria-describedby="basic-addon1"
                                        name="name_2" required>
                                    <label for="">ທີ່ຢູ່</label>
                                    <input type="text" class="form-control form-control-sm" placeholder="ທີ່ຢູ່"
                                        value="{{item[5]}}" aria-label="Username" aria-describedby="basic-addon1"
                                        name="address">
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="">ແຂວງ</label>
                                            <select class="form-control form-control-sm" name="province" id="{{item[0]}}"
                                                onchange="ddddss('{{item[1]}}','{{item[0]}}')">
                                                <option value="">...ເລືອກ</option>
                                                {% for items in province %}
                                                {% if item[6]==items[0] %}
                                                <option value="{{items[0]}}" selected>{{items[1]}}</option>
                                                {% else %}
                                                <option value="{{items[0]}}">{{items[1]}}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <label for="">ເມືອງ</label>
                                            <select class="form-control form-control-sm" name="city" id="{{item[1]}}">
                                                <option>...ເລືອກ</option>
                                                {% for items in city %}
                                                {% if item[7]==items[0] %}
                                                <option value="{{items[0]}}" selected>{{items[1]}}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="">ເບີໂທ</label>
                                            <input class="form-control form-control-sm" type="text" placeholder="ເບີໂທ"value="{{item[8]}}" 
                                                name="tel" aria-label=".form-control-sm example">

                                        </div>
                                        <div class="col-6">
                                            <label for="">ເລກປະຈຳຕົວຜູ້ເສຍອາກອນ</label>
                                            <input class="form-control form-control-sm" type="text"
                                                placeholder="ເລກປະຈຳຕົວຜູ້ເສຍອາກອນ" name="tax_id"value="{{item[9]}}" 
                                                aria-label=".form-control-sm example">
                                        </div>
                                    </div>
                                    <hr>

                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ອອກ</button>
                            <button type="submit" class="btn btn-primary">ປັບປຸງຂໍ້ມູນລູກຄ້າ</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function show_citylist() {
        var x = document.getElementById("province").value;
        console.log(x)
        fetch('/sel_city/' + x).then(function (response) {
            response.json().then(function (data) {
                optionHTML = '';
                for (city_rs of data.city) {
                    optionHTML += "<option value='" + city_rs[0] + "'>" + city_rs[1] + "</option>"
                }
                city.innerHTML = "<option value='' selected hidden>ເລືອກເມືອງ...</option>" + optionHTML;
            });
        });
    }
    function ddddss(id,id2) {
        var y = document.getElementById(id2).value;
        console.log(id)
        console.log(y)
        fetch('/sel_city/' + y).then(function (response) {
            response.json().then(function (data) {
                optionHTMLa = '';
                for (city_rsss of data.city) {
                    optionHTMLa += "<option value='" + city_rsss[0] + "'>" + city_rsss[1] + "</option>"
                    console.log(city_rsss[0])
                }
                document.getElementById(id).innerHTML = "<option value='' selected hidden>ເລືອກເມືອງ...</option>" + optionHTMLa;
            });
        });
    }

    function deleteitem(id) {
        Swal.fire({
            title: 'ທ່ານຕ້ອງການລົບເອກະສານແທ້ບໍ?',
            text: "ທານຈພບໍສາມາດເອີ້ນເອກະສ່ນີ້ຄືນໄດ້!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ລົບເລີຍ!'
        }).then((result) => {
            fetch('/deletecontract/' + id, {
                method: 'DELETE'
            }).then(res => {
                if (result.isConfirmed) {
                    if (res.status == '204') {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'ເອກະສານນີມີການເຄື່ອນໃຫວແລ້ວ!',

                        })
                    }
                    else {
                        Swal.fire(
                            'ລົບແລ້ວ!',
                            'ເອກະສ່ນຂອງທ່ານຖອກລົບແລ້ວ.',
                            'success'
                        ).then(function () {
                            window.location = "/contract";
                        });
                    }
                } else {
                    if (result.isConfirmed) {
                        Swal.fire(
                            'ລົບແລ້ວ!',
                            'ເອກະສ່ນຂອງທ່ານຖອກລົບແລ້ວ.',
                            'success'
                        ).then(function () {
                            window.location = "/contract";
                        });
                    }
                    else {

                    }
                }
            }
            )

        })
    }
</script>
{% endblock %}