{% extends "layout/layout.html" %}
{% block title %}ເພີ່ມຜູ້ຕິດຕໍ່ໃໝ່{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<div class="card shadow-lg p-3 mb-5 bg-body rounded" style="background-color: #0F738D;width: 800px;">
  <form action="/save_supplier" method="post">
    <div class="card-body">
      <center>
        <h4><i class="fa fa-address-card"></i> &nbsp; ເພີ່ມຜູ້ສະໜອງ</h4>
      </center>
      <label for="">ລະຫັດລູກໜີ້</label>
      <input type="text" class="form-control form-control-sm" placeholder="ລະຫັດ" style="width: 100px;" name="code"
        required>
      <label for="">ຊື່(ລາວ)</label>
      <input type="text" class="form-control form-control-sm" placeholder="ຊື່(ລາວ)" aria-label="Username"
        aria-describedby="basic-addon1" name="name_1" required>
      <label for="">Name(ENG)</label>
      <input type="text" class="form-control form-control-sm" placeholder="Name(ENG)" aria-label="Username"
        aria-describedby="basic-addon1" name="name_2" required>
      <label for="">ທີ່ຢູ່</label>
      <input type="text" class="form-control form-control-sm" placeholder="ທີ່ຢູ່" aria-label="Username"
        aria-describedby="basic-addon1" name="address">
      <div class="row">
        <div class="col-6">
          <label for="">ແຂວງ</label>
          <select class="form-control form-control-sm" name="province" id="province" onchange="show_citylist()">
            <option value="">...ເລືອກ</option>
            {% for item in province %}
            <option value="{{item[0]}}">{{item[1]}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-6">
          <label for="">ເມືອງ</label>
          <select class="form-control form-control-sm" name="city" id="city">
            <option>...ເລືອກ</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="">ເບີໂທ</label>
          <input class="form-control form-control-sm" type="text" placeholder="ເບີໂທ" name="tel"
            aria-label=".form-control-sm example">

        </div>
        <div class="col-6">
          <label for="">ເລກປະຈຳຕົວຜູ້ເສຍອາກອນ</label>
          <input class="form-control form-control-sm" type="text" placeholder="ເລກປະຈຳຕົວຜູ້ເສຍອາກອນ" name="tax_id"
            aria-label=".form-control-sm example">
        </div>
      </div>
      <hr>
      <button type="submit" class="button button1"><i class="fas fa-save"> </i>&nbsp;&nbsp;ບັນທຶກ</button>
  </form>
  <button type="button" onclick="location.href='/customer'" class="button button3">ກັບຄືນ </button>
</div>
</a>
</div>
<script>
  function show_citylist() {
    var x = document.getElementById("province").value;
    console.log(x)
    fetch('/sel_city/' + x).then(function (response) {
      response.json().then(function (data) {
        optionHTML = '';
        for (city_rs of data.city) {
          optionHTML += "<option value='" + city_rs[0] + "'>" + city_rs[1] + "</option>"
        }
        city.innerHTML = "<option value='' selected hidden>ເລືອກເມືອງ...</option>" + optionHTML;
      });
    });
  }

</script>
{% endblock %}

