{% extends "layout/layout.html" %} {% block title %}ກຳນົດຂໍ້ມູນບໍລິສັດ{% endblock %}
{% block head %} {{ super() }} {% endblock %} {% block content %}
<br>
<div class="container" style="width: 50%;">
  <div class="card-body bg-info">
    <form action="/updatecompany" method="post">
      <input type="hidden" value="{{company[0]}}" name="code">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px;">ຊື່ບໍລິສັດ LAOS</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" value="{{company[1]}}" id="name_1" name="name_1">
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px;">ຊື່ບໍລິສັດ ENG</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" value="{{company[2]}}" id="name_2" name="name_2">
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px;">ທີ່ຢູ່ LAOS</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" value="{{company[3]}}" id="address_1" name="address_1">
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px;">ທີ່ຢູ່ ENG</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" value="{{company[4]}}" id="address_2" name="address_2">
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px;">TEL</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" value="{{company[5]}}" id="tel" name="tel">
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px;">ທະບຽນວິສະຫະກິດ</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" value="{{company[6]}}" id="min" name="min"> 
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px;">ເລກປະຈຳຕົວຜູ້ເສຍອາກອນ</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" value="{{company[7]}}" id="tin" name="tin">
      </div>
      <button type="submit" class="btn btn-secondary" id="btn_label" name="btn_label" value="{{btn_label}}">{{btn_label}}</button>
    </form>
  </div>
</div>
<script>
  var lb_value= document.getElementById("btn_label").value

  console.log()
if (lb_value=='ແກ້ໃຂ'){
 document.getElementById("name_1").readOnly = true;
 document.getElementById("name_2").readOnly = true;
 document.getElementById("address_1").readOnly = true;
 document.getElementById("address_2").readOnly = true;
 document.getElementById("tel").readOnly = true;
 document.getElementById("min").readOnly = true;
 document.getElementById("tin").readOnly = true;
}else{
  document.getElementById("name_1").readOnly = false;
 document.getElementById("name_2").readOnly = false;
 document.getElementById("address_1").readOnly = false;
 document.getElementById("address_2").readOnly = false;
 document.getElementById("tel").readOnly = false;
 document.getElementById("min").readOnly = false;
 document.getElementById("tin").readOnly = false;
}

</script>
{% endblock %}