
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: "Noto Sans Lao";
}

.navbar-brand {
    font-family: "Noto Sans Lao";
}

.nav-link {
    font-family: "Noto Sans Lao";
}

.dropdown-item {
    font-family: "Noto Sans Lao";
}

.btn {
    font-family: "Noto Sans Lao";
}

.form-control {
    font-family: "Noto Sans Lao";
}

.input-group-text {
    font-family: "Noto Sans Lao";
}

.form-check-input {
    font-family: "Noto Sans Lao";
}

h5,
label {
    font-family: "Noto Sans Lao";
}
