<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ໃບເກັບເງິນ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!------ Include the above in your HEAD tag ---------->

    <style>
        @font-face {
            font-family: 'phetsarath ot';
            font-style: normal;
            font-weight: 400;
            src: local('Phetsarath'), url('https://fonts.cdnfonts.com/s/15721/Phetsarath-Regular.woff') format('woff');
        }
        
        @font-face {
            font-family: 'phetsarath ot';
            font-style: normal;
            font-weight: 700;
            src: local('Phetsarath'), url('https://fonts.cdnfonts.com/s/15721/Phetsarath-Bold.woff') format('woff');
        }
        
        html,
        body {
            width: 21.0cm;
            height: 29.7cm;
            background-image: url('http://150.95.90.124:8888/static/newtax.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .header {
            padding-top: 60px;
            font-family: 'phetsarath ot';
            padding-left: 20px;
            padding-right: 20px;
        }
        
        table,
        th,
        td {
            /* border: 1px solid black; */
            font-family: 'phetsarath ot';
        }
        
        h4 {
            font-family: 'phetsarath ot';
            font-size: 13pt;
            font-weight: bold;
        }
        
        h5 {
            font-family: 'phetsarath ot';
            font-size: 11pt;
        }
        
        #customers {
            font-family: 'phetsarath ot';
            font-size: 11pt;
            border-collapse: collapse;
            width: 100%;
        }
        
        #customers th {
            padding-top: 5px;
            padding-bottom: 5px;
            text-align: center;
            /* background-color: #04AA6D; */
            /* color: white; */
            border-bottom: #000000;
            border-top: #000000;
            border: 1px solid;
            border-left: none;
            border-right: none;
        }
        
        #customers td {
            padding-top: 5px;
            padding-bottom: 5px;
            text-align: center;
            height: 20px;
        }
    </style>
</head>

<body>
    <br>
    <div class="header">
        <table style="width: 100%;padding-top: 50px;">
            <tr>
                <td style="width:25%"></td>
                <td style="width:50%;text-align: center;font-size: 24px; font-weight: bold;padding: 0;margin: 0;vertical-align: top;">
                    ໃບເກັບເງິນ/Tax Invoice
                </td>
                <td style="width:25%;vertical-align: bottom;"> {{customer[0]}}</td>
            </tr>
            <tr>
                <td style="width:25%"></td>
                <td style="width:50%;text-align: center;font-size: 10pt;padding: 0;margin: 0;vertical-align: top;">
                    (ອາກອນມູນຄ່າເພີມ)
                </td>
                <td style="width:25%"></td>
            </tr>
        </table>
    </div>
    <br>
    <br>
    <hr style="margin-left: 50px;margin-right: 50px;padding: 0;margin-top: 5px;margin-bottom: 5px;height: 1px;
    background-color: #000000;
    border: none;">
    <div style="padding-left: 60px;padding-right: 50px;">
        <h4 style="padding: 1px;margin: 1px;">
            {{company[0]}}
        </h4>
        <h4 style="padding: 1px;margin: 1px;">
            {{company[1]}}
        </h4>
        <h5 style="padding: 1px;margin: 1px;">
            ທີ່ຢູ່: {{company[2]}}
        </h5>
        <h5 style="padding: 1px;margin: 1px;">
            ໂທ: {{company[3]}}
        </h5>
        <h5 style="padding: 1px;margin: 1px;">
            ເລກປະຈໍາຕົວຜູ້ເສຍອາກອນ: {{company[5]}}
        </h5>
        <table style="width: 100%;">
            <td style="width: 50%;">ຊື່ບັນຊີທະນາຄານ:</td>
            <td style="width: 50%;">ເລກບັນຊີ: </td>
        </table>
    </div>
    <hr style="margin-left: 50px;margin-right: 50px;padding: 0;margin-top: 5px;margin-bottom: 5px;height: 1px;
    background-color: #000000;
    border: none;">
    <div style="padding-left: 60px;padding-right: 50px;">

        <h5 style="padding: 1px;margin: 1px;">
            ລູກຄ້າ {{customer[3]}}
        </h5>
        <table style="width: 100%;">
            <tr>
                <td style="width: 33%;">ທີ່ຢູ່ບ້ານ: {{customer[4]}}</td>
                <td style="width: 40%;">ເມືອງ:{{customer[5]}} </td>
                <td style="width: 30%;">ແຂວງ: {{customer[6]}}</td>
            </tr>
            <tr>
                <td style="width: 33%;">ເບີໂທ: {{customer[7]}}</td>
                <td style="width: 40%;">ເລກປະຈໍາຕົວຜູ້ເສຍອາກອນ: {{customer[8]}}</td>
                <td style="width: 33%;">ປະເພດການຈ່າຍ</td>
            </tr>
            <tr>
                <td style="width: 33%;">ຊື່ບັນຊີທະນາຄານ:</td>
                <td style="width: 40%;">ເລກບັນຊີ: </td>
                <td style="width: 33%;"></td>
            </tr>
        </table>
    </div>
    <div style="padding-left: 60px;padding-right: 50px;">
        <table id="customers">
            <thead>
                <th style="width: 20px;">ລຳດັບ</th>
                <th style="width: 250px;">ເນື້ອໃນລາຍການ</th>
                <th style="width: 50px;">ຈໍານວນ</th>
                <th style="width: 50px;">ຫົວໜ່ວຍ</th>
                <th style="width: 100px;">ລາຄາ</th>
                <th style="width: 100px;">ລວມ</th>
            </thead>
            <tbody>
                {% if count_dt==1 %} {% for item in bill_dt %}
                <tr>
                    <td>{{item[0]}}</td>
                    <td style="text-align: start;">{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td>{{item[3]}}</td>
                    <td style="text-align: end;">{{'{:,}'.format(item[4])}}</td>
                    <td style="text-align: end;">{{'{:,}'.format(item[5])}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="text-align: start;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="text-align: end;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="text-align: end;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                </tr>
                {% elif count_dt==2 %} {% for item in data %}
                <tr>
                    <td>{{item[0]}}</td>
                    <td style="text-align: start;">{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td>{{item[3]}}</td>
                    <td style="text-align: end;">{{'{:,}'.format(item[4])}}</td>
                    <td style="text-align: end;">{{'{:,}'.format(item[5])}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="text-align: start;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="text-align: end;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="text-align: end;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                </tr>
                {% elif count_dt==3 %} {% for item in data %}
                <tr>
                    <td>{{item[0]}}</td>
                    <td style="text-align: start;">{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td>{{item[3]}}</td>
                    <td style="text-align: end;">{{'{:,}'.format(item[4])}}</td>
                    <td style="text-align: end;">{{'{:,}'.format(item[5])}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="text-align: start;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="text-align: end;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="text-align: end;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                </tr>
                {% elif count_dt==4 %} {% for item in data %}
                <tr>
                    <td>{{item[0]}}</td>
                    <td style="text-align: start;">{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td>{{item[3]}}</td>
                    <td style="text-align: end;">{{'{:,}'.format(item[4])}}</td>
                    <td style="text-align: end;">{{'{:,}'.format(item[5])}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="text-align: start;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="text-align: end;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="text-align: end;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                </tr>
                {% elif count_dt==6 %} {% for item in data %}
                <tr>
                    <td>{{item[0]}}</td>
                    <td style="text-align: start;">{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td>{{item[3]}}</td>
                    <td style="text-align: end;">{{'{:,}'.format(item[4])}}</td>
                    <td style="text-align: end;">{{'{:,}'.format(item[5])}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="text-align: start;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="text-align: end;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="text-align: end;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                </tr>
                {% elif count_dt==7 %} {% for item in data %}
                <tr>
                    <td>{{item[0]}}</td>
                    <td style="text-align: start;">{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td>{{item[3]}}</td>
                    <td style="text-align: end;">{{'{:,}'.format(item[4])}}</td>
                    <td style="text-align: end;">{{'{:,}'.format(item[5])}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="text-align: start;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="text-align: end;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="text-align: end;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                </tr>
                {% elif count_dt==8 %} {% for item in data %}
                <tr>
                    <td>{{item[0]}}</td>
                    <td style="text-align: start;">{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td>{{item[3]}}</td>
                    <td style="text-align: end;">{{'{:,}'.format(item[4])}}</td>
                    <td style="text-align: end;">{{'{:,}'.format(item[5])}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="text-align: start;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="text-align: end;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                    <td style="text-align: end;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                    </td>
                </tr>
                {% else %} {% for item in data %}
                <tr>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                        {{item[0]}}</td>
                    <td style="text-align: start;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                        {{item[1]}}</td>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                        {{item[2]}}</td>
                    <td style="border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                        {{item[3]}}</td>
                    <td style="text-align: end;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                        {{'{:,}'.format(item[4])}}</td>
                    <td style="text-align: end;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;border-right: none;border-top: none;">
                        {{'{:,}'.format(item[5])}}</td>
                </tr>
                {% endfor %} {% endif %}

                <!-- style="width: 50px;" -->
                <tr>
                    <td colspan="5" style="text-align: end;border: none;">
                        ລວມມູນຄ່າຂາຍບໍ່ມີອາກອນ:
                    </td>
                    <td style="text-align: end;font-weight: bold;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;
                    border-right: none;">
                        {{customer[9]}}
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align: end;border: none;">
                        ອັດຕາອາກອນມູນຄ່າເພີ່ມ 7%, ເປັນຈໍານວນເງິນ:
                    </td>
                    <td style="text-align: end;font-weight: bold;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;
                    border-right: none;">
                        {{customer[10]}}
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align: end;border: none;">
                        ລວມມູນຄ່າທັງຫມົດ:
                    </td>
                    <td style="text-align: end;font-weight: bold;border-bottom: #000000;border-top: #000000;border: 1px solid;border-left: none;
                    border-right: none;">
                        {{customer[11]}}
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <h5>
            ຈໍານວນເເງິນ ຂຽນເປັນນຕົວຫນັງສື:...................................
        </h5>
    </div>
    <br>
    <br>
    <div style="padding-left: 60px;padding-right: 50px;">
        <table style="width: 100%; ">
            <td style="width: 50%;text-align: center;">
                ວັນທີ {{customer[1]}} <br>ຜູ້ຊື້
            </td>
            <td style="width: 50%;text-align: center;">
                ວັນທີ {{customer[1]}}<br>ຜູ້ຂາຍ
            </td>
        </table>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h6 style="margin-bottom: 0;padding-bottom: 0;padding-left: 100px;font-size: 8px; font-weight: normal;  font-family: 'phetsarath ot';">
        ສ້າງໂດຍ: ບໍລິສັດ ເອສເອມລາວ ພັດທະນາໂປແກັມບັນຊີ
    </h6>
    <h6 style="margin-top: 5px;padding-bottom: 0;padding-left: 100px;font-size: 8px; font-weight: normal;  font-family: 'phetsarath ot';">
        ໃບອະນຍາດເລກກທີ: {{company[6]}} ລົງວັນທີ: {{company[7]}}
    </h6>
</body>

</html>