{% extends "layout/layout.html" %} {% block title %}ປະເພດການເເຂ້ງອາກອນ{% endblock %}
{% block head %} {{ super() }} {% endblock %} {% block content %}
<br>
<div class="container" style="width: 50%;">
    <div class="card-body bg-info">
        <h5>ການເເຈ້ງອາກອນ</h5>
        <hr>
        {% if data==0%}
        <div class="form-check" onclick="showclickbyhand()">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked >
            <label class="form-check-label" for="flexRadioDefault1">
                ແຈ້ງອາກອນເອງ
            </label>
        </div>
        <div class="form-check"onclick="showclickdirect()">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                ແຈ້ງອາກອນອັດຕະໂນມັດ
            </label>
        </div>
        {% else %}
        <!-- <div class="form-check"onclick="showclickbyhand()">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                ແຈ້ງອາກອນເອງ
            </label>
        </div>
        <div class="form-check"onclick="showclickdirect()">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                ແຈ້ງອາກອນອັດຕະໂນມັດ
            </label>
        </div> -->
        {% endif %}
        <!-- <hr>
        <button type="button" class="btn btn-primary btn-sm">ປັບປຸງ</button> -->
    </div>
</div>
<script>
  function  showclickbyhand(){
  if(document.getElementById("flexRadioDefault1").checked = true)
    console.log("Dddd")
  }
  function  showclickdirect(){
  if(document.getElementById("flexRadioDefault2").checked = true)
    console.log("aaaa")
  }
</script>

{% endblock %}