{% extends "layout/layout.html" %} {% block title %}ລາຍງານ{% endblock %} {% block head %} {{ super() }}
<style>
    #customers {
        font-family: "phetsarath ot";
        font-size: 10px;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td,
    #customers th {
        border: 1px solid #ddd;
        padding: 5px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }

    .form-control {
        font-size: 10px;
    }

    .button {
        background-color: #4CAF50;
        border: 2px none;
        color: white;
        padding: 2px 2px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        /* margin: 2px 2px; */
        transition-duration: 0.4s;
        cursor: pointer;
        /* width: 50px; */
    }

    .button1 {
        background-color: white;
        color: black;
        border: 2px solid #4CAF50;
        width: 100%;
    }

    .button1:hover {
        background-color: #4CAF50;
        color: white;
    }

    .button2 {
        background-color: white;
        color: black;
        border: 2px solid #b08517;
    }

    .button2:hover {
        background-color: #b08517;
        color: white;
    }

    .button3 {
        background-color: white;
        color: black;
        border: 2px solid #0536a9;
    }

    .button3:hover {
        background-color: #0536a9;
        color: white;
    }

    .button4 {
        background-color: white;
        color: black;
        border: 2px solid #08cfb4;
    }

    .button4:hover {
        background-color: #08cfb4;
        color: white;
    }

    table tr td {
        font-size: 10pt !important;
        border: 1px solid #C7C7C7 !important;
    }

    table thead tr th {
        border: 1px solid #C7C7C7 !important;
        color: #fff !important;
        background-color: #304863 !important;
        padding: 6px !important;
        font-size: 10pt !important;
    }

    table tr th,
    table tr td {
        padding: 4px !important;
        font-size: 10pt !important;
    }

    body {
        font-family: 'Noto Sans Lao', sans-serif !important;
        background-color: #EFEFEF !important;
    }

    h5 {
        font-family: 'Noto Sans Lao', sans-serif !important;
    }
</style>
{% endblock %} {% block content %}
<div class="card">
    <div class="card-body">

        <div class="row">
            <div class="col-3">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">
                        ລວມ ແຈ້ງອມພ ປະຈຳເດືອນ
                    </a>
                    {%for item in data%}
                    <a href="/monthly/{{item[0]}}" class="list-group-item list-group-item-action d-flex-justify-content-between">
                        <div class="row">
                            <div class="col-sm">
                                {{item[0]}}
                            </div>
                            <div class="col-sm text-end">
                                <span style="color: red;font-weight: bold;" >
                                    {{item[1]}} ກີບ
                                </span>
                           
                            </div>
                        </div>


                    </a>
                    {%endfor%}
                </div>
            </div>
            <div class="col-9">
                <div class="table-responsive-md table-striped border-dark">
                    <table class="table table-striped" id="customerss">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 3%; text-align: center !important;">#</th>
                                <th scope="col" style="width: 10%;">ວັນທີ</th>
                                <th scope="col" style="width: 8%;">ເລກບິນ</th>
                                <th scope="col" style="width: 20%;">ລູກຄ້າ</th>
                                <th scope="col" style="width: 20%;">ໝາຍເຫດ</th>
                                <th scope="col" style="width: 10%;">ມູນຄ່າ</th>
                                <th scope="col" style="width: 10%;">ອມພ</th>
                                <th scope="col" style="width: 20px;">ລວມ</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for item in datadeltail%}
                            <tr>
                                <td scope="row" style="text-align: center;border: 1px solid #177f10 !important;">{{item[0]}}</td>
                                <td style="font-weight: bold !important">{{item[1]}}</td>
                                <td>{{item[2]}}</td>
                                <td>{{item[3]}}</td>
                                <td>{{item[4]}}</td>
                                <td style="text-align: right;">{{item[5]}}</td>
                                <td style="text-align: right;">{{item[6]}}</td>
                                <td style="text-align: right;">{{item[7]}}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}