{% extends "layout/layout.html" %}
{% block title %}ປະເພດລາຍຮັບ{% endblock %}
{% block head %}

{{ super() }}
{% endblock %}
{% block content %}
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- Sweet alert Js -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
    body {
        background-color: gainsboro;
        font-family: 'Noto Sans Lao';
    }

    .container {
        position: relative;
        text-align: center;
        padding-top: 15px;
    }

    .card-body {
        border-radius: 3px;
        padding: 20px;
        margin-top: 10px;
    }

    .input {
        border: 1px solid black;
    }

    .input:hover {
        box-shadow: 2px 2px 5px black;
    }


    .box {
        color: #fff;
        position: sticky;
        top: 0;
        background-color: #369DBB;
        z-index: 1;
        border: 1px solid #fff;
    }

    @media (max-width:480px) {
        input {
            width: 100%;
            font-size: 14px;
        }

        .btn {
            width: 100%;
            font-size: 10px;
        }
    }

    @media (min-width:481px) and (max-width:1000px) {
        input {
            width: 80%;
            font-size: 16px;
        }

        .btn {
            padding: 5px;
            width: 60%;
            font-size: 10px;
        }
    }

    .table_ {
        height: 250px;
        overflow: scroll;
    }
</style>
<div class=" container">
    <div class="row">
        <center>
            <h2>ຂໍ້ມູນປະເພດລາຍຮັບ</h2>
        </center>
        <div class="bg-light" style="box-shadow: 2px 2px 5px;padding-top: 15px;">
            <form action="/Insert" method="post">
                <div class="container">
                    <div class="row">
                        <div class="card col-sm-3" style="background-color: #369DBB;color: #fff;">
                            <div>
                                <h3 class="h6">ລະຫັດ</h3>
                                <input class="input" name="code" type="text" required>
                            </div><br>
                            <div>
                                <h3 class="h6">ຊື່</h3>
                                <input class="input" name="name_1" type="text" required>
                            </div><br>
                            <center>
                                <button class="btn btn-primary" type="submit"
                                    style="box-shadow: 1px 1px 5px black;">ບັນທຶກ</button>
                            </center><br>
                        </div>&nbsp;&nbsp;&nbsp;
                        <div class="table_ col-sm" style="background-color: gainsboro;">
                            <div class="row">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="box" style="width: 20%; text-align: center;">ລະຫັດ</th>
                                            <th class="box" style="width: 450px; text-align: center;">ຊື່</th>
                                            <th class="box"
                                                style="width: 20%; text-align: center;font-family: time new roman;">
                                                ACTION
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for item in listitem%}
                                        <tr style="border: 1px solid #fff ;">
                                            <td style=" border: 1px solid #fff ;">{{item[0]}}</td>
                                            <td style=" border: 1px solid #fff ;">{{item[1]}}</td>
                                            <td style=" text-align: center;">
                                                <a href="#" data-bs-toggle="modal"
                                                    data-bs-target="#smlaoeditcontract{{item[0]}}"
                                                    class="bi bi-pencil-square"><i></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <a href="/delete/{{item[0]}}"><span style="color: red;"
                                                        class="bi bi-trash3"><i></i></span></a>
                                            </td>
                                        </tr>
                                        <div class="modal fade" id="smlaoeditcontract{{item[0]}}"
                                            data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                            aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="staticBackdropLabel">ແກ້ໃຂຂໍ້ມູນ
                                                        </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <form action="/update" method="post">
                                                        <div class="modal-body">
                                                            <div class="card-body" style="text-align: left;">
                                                                <label>ລະຫັດ</label>
                                                                <input style="width: 150px;" type="text"
                                                                    class="form-control form-control-sm" name="code"
                                                                    value="{{item[0]}}" readonly>
                                                                <br> <label for="">ຊື່</label>
                                                                <input type="text" class="form-control form-control-sm"
                                                                    aria-label="Username"
                                                                    aria-describedby="basic-addon1" name="name_1"
                                                                    value="{{item[1]}}">
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">ອອກ</button>
                                                            <button type="submit"
                                                                class="btn btn-primary">ບັນທືກ</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
<!-- Begin alerts -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<script>
    Swal.fire({

        title: "{{ category.title() }}!",
        // success , error , warning ,info

        text: "{{ message }}",
        // Custom message flashed from your flask routes

        icon: "{{ category }}" == "danger" ? "error" : "{{ category }}"
        // success , error , warning ,info

    })
</script>
{% endfor %}
{% endif %}
{% endwith %}

<!-- End alerts -->
{% endblock %}