<html lang="en">

<head>

    {% block head %}
    <style>
        @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
        body {
            font-family: "Noto Sans Lao";
        }
        
        .navbar-brand {
            font-family: "Noto Sans Lao";
        }
        
        .nav-link {
            font-family: "Noto Sans Lao";
        }
        
        .dropdown-item {
            font-family: "Noto Sans Lao";
        }
        
        .btn {
            font-family: "Noto Sans Lao";
        }
        
        .form-control {
            font-family: "Noto Sans Lao";
        }
        
        .input-group-text {
            font-family: "Noto Sans Lao";
        }
        
        .form-check-input {
            font-family: "Noto Sans Lao";
        }
        
        h5,
        label {
            font-family: "Noto Sans Lao";
        }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/kvat.png" type="image/icon type">
    <!-- bootstrap5 dataTables css cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/vendor/libs/animate-css/animate.css" />
    <link rel="stylesheet" href="assets/vendor/libs/sweetalert2/sweetalert2.css" />
    <script refer src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script refer src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script refer src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Lao&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %} -{{title}}</title>
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/home">
                <img src="/static/kvat.png" alt="" width="30" height="24">
            </a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <a class="nav-link active" aria-current="page" href="/ReciptNew"><i class="bi bi-pencil-square"></i>&nbsp;ອອກໃບຮັບເງິນ</a>
                    <li class="nav-item">
                        <a class="nav-link" href="/contract"><i class="bi bi-person-badge-fill"></i>&nbsp; ສະໝຸດລາຍຊື່</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ລາຍຮັບ/ລາຍຈ່າຍ
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">ລາຍຮັບ</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#"> ລາຍຈ່າຍ</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-border-width"></i>&nbsp; ສິນຄ້າ
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/product"><i class="bi bi-border-width"></i>&nbsp;  ລາຍການສິນຄ້າ/ບໍລິການ</a></li>
                            <li><a class="dropdown-item" href="/unit"><i class="bi bi-border-width"></i>&nbsp;  ຫົວໜ່ວຍສິນຄ້າ/ບໍລິການ</a></li>
                            <!-- <li><a class="dropdown-item" href="/monthly">ອອກໃບຮັບເງິນປະຈຳເດືອນ </a></li> -->
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-border-width"></i>&nbsp;  ການເຄື່ອນໃຫວສິນຄ້າ</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-border-width"></i>&nbsp;  ລາຍງານສິນຄ້າ</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-graph-up-arrow"></i> &nbsp;
                            ລາຍງານ
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/saledaiyreport">ອອກໃບຮັບເງິນປະຈຳວັນ</a></li>
                            <li><a class="dropdown-item" href="/monthly">ອອກໃບຮັບເງິນປະຈຳເດືອນ </a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">export ເພື່ອຍື່ນອມພ </a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ການຈັດການ
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/company_profile">ກຳນົດຂໍ້ມູນບໍລິສັດ</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/vat_trans_type"> ຈັດການເລືອງແຈ້ງອາກອນ</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#"> ຈັດການບັນຊີເງິນຝາກ</a></li>
                            <li><a class="dropdown-item" href="/typeincome"> ກຳນົດປະເພດລາຍຮັບ</a></li>
                        </ul>
                    </li>
                </ul>
                <a class="nav-link" href="/logout" tabindex="-1" aria-disabled="true"> <i class="bi bi-box-arrow-right"></i>&nbsp;logout</a>
            </div>
        </div>
    </nav>
    {% block content %} {% endblock %}
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>