{% extends "layout/mgt/layout.html" %}
{% block title %}ກຳນົດຫົວໜ່ວຍ{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<style>
    /* .table-bordered {
  border: 1px solid #ddd !important;
} */

    tbody tr#cell td {
        border: 1px solid #ddd !important;
    }

    tbody tr#cell {
        padding: 10px !important;
        font-size: 10pt !important;
    }

    tr#cell:hover {
        background-color: #007ACC !important;
        color: #fff;
    }

    button.close {
        color: #fff !important;
    }
</style>
<!-- alert -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{% if message == 'ລົບສຳເລັດ' or message == 'ແກ້ໄຂສຳເລັດ' or message == 'ບັນທຶກສຳເລັດ' %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <center>
        <strong>{{ message }}</strong>
    </center>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% else %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <center>
        <strong>{{ message }}</strong>
    </center>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
<script>
    $(".alert-dismissible").fadeTo(2000, 500).fadeOut(500, function () {
        $(".alert-dismissible").alert('close');
    });
</script>
{% endfor %}
{% endif %}
{% endwith %}
<div class="container" style="width: 50%;">
    <h6 class="card-header" style="background-color: #1f2f39;text-align: end;">
        <a href="#" class="btn btn-primary btn-sm ml-2" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                class="fa fa-plus" aria-hidden="true"></i>&nbsp;ເພີ່ມຂໍ້ມູນ</a>
    </h6>
    <div class="card-body rounded shadow-lg" style="background-color: #CACFD2;">
        <table class="table table-sm table-hover" style="background-color: #fff;border-radius: 10px;">
            <thead style="background-color: #1f2f39;color: #fff;">
                <tr>
                    <th scope="col" style="width: 5%;text-align: center;">#</th>
                    <th scope="col" style="width: 30px;text-align: center;">ລະຫັດ</th>
                    <th scope="col" style="width: 100px;text-align: center;">ຊື່ຜູ້ໃຊ້</th>
                    <th scope="col" style="width: 70px;text-align: center;">ສິດນຳໃຊ້</th>
                    <th scope="col" style="width: 60px;text-align: center;"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in user %}
                <tr id="cell">
                    <th scope="row" style="text-align: center;vertical-align:middle;font-size: 10pt;">
                        {{item[0]}}</th>
                    <td style="text-align: center;vertical-align:middle;font-size: 10pt;">{{item[1]}}</td>
                    <td style="text-align: left;vertical-align:middle;font-size: 10pt;">{{item[2]}}</td>
                    <td style="text-align: center;vertical-align:middle;font-size: 10pt;">{{item[5]}}</td>
                    <td style="text-align: center;">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-pencil-square"></i></a>||
                        <a href="#"  onclick="return confirm('ທ່ານຕ້ອງການລົບແທ້ບໍ ?')"><i class="bi bi-trash3"></i></a>
                    </td>
                </tr>
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Understood</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ເພີ່ມລາຍຊື່ຜູ້ໃຊ້</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/adduser" method="post">
                <div class="modal-body">
                    <div class="modal-body" style="background-color: #EFEFEF;font-weight: bold;">
                        <label for="fname">ລະຫັດ:</label>
                        <input type="text" id="code" name="code" class="form-control mb-2">
                        <label for="lname">ຊື່ຜູ້ໃຊ້:</label>
                        <input type="text" id="username" name="username" class="form-control mb-2">
                        <label for="lname">ລະຫັດຜ່ານ:</label>
                        <input type="text" id="password" name="password" class="form-control mb-2">
                        <label for="lname">ສິດເຂົ້້າໃຊ້</label>
                        <select class="form-select form-control col-sm-4" aria-label="Default select example" required
                            name="roles">
                            <option value="">ເລືອກ</option>
                            <option value="admin">admin</option>
                            <option value="user">user</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ອອກ</button>
                    <button type="submit" class="btn btn-primary">ບັນທຶກ</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function deleteitem(id) {
        swal({
            title: 'ທ່ານຕ້ອງການລົບຂໍ້ມູນແທ້ບໍ?',
            text: "ທ່ານຈະບໍ່ສາມາດຮ້ອງຄືນຂໍ້ມູນນີ້ໃດ້!",
            type: 'question',
            showCancelButton: true,
            cancelButtonColor: '#3085d6',
            confirmButtonColor: '#d33',
            confirmButtonText: 'ເຈົ້າ, ແມ່ນແລ້ວ!',
            cancelButtonText: 'ບໍ່,ກັບຄືນ!',
        }).then(function () {
            location.href = "/delete_user/" + id;
        })
    }
</script>
{% endblock %}