{% extends "layout/layout.html" %} {% block title %}ລາຍງານ{% endblock %} {% block head %} {{ super() }}
<style>
    #customers {
        font-family: "phetsarath ot";
        font-size: 10px;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td,
    #customers th {
        border: 1px solid #ddd;
        padding: 5px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }

    .form-control {
        font-size: 10px;
    }

    .button {
        background-color: #4CAF50;
        border: 2px none;
        color: white;
        padding: 2px 2px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        /* margin: 2px 2px; */
        transition-duration: 0.4s;
        cursor: pointer;
        /* width: 50px; */
    }

    .button1 {
        background-color: white;
        color: black;
        border: 2px solid #4CAF50;
        width: 100%;
    }

    .button1:hover {
        background-color: #4CAF50;
        color: white;
    }

    .button2 {
        background-color: white;
        color: black;
        border: 2px solid #b08517;
    }

    .button2:hover {
        background-color: #b08517;
        color: white;
    }

    .button3 {
        background-color: white;
        color: black;
        border: 2px solid #0536a9;
    }

    .button3:hover {
        background-color: #0536a9;
        color: white;
    }

    .button4 {
        background-color: white;
        color: black;
        border: 2px solid #08cfb4;
    }

    .button4:hover {
        background-color: #08cfb4;
        color: white;
    }

    table tr td {
        font-size: 10pt !important;
        border: 1px solid #C7C7C7 !important;
    }

    table thead tr th {
        border: 1px solid #C7C7C7 !important;
        color: #fff !important;
        background-color: #304863 !important;
        padding: 6px !important;
        font-size: 10pt !important;
    }

    table tr th,
    table tr td {
        padding: 4px !important;
        font-size: 10pt !important;
    }

    body {
        font-family: 'Noto Sans Lao', sans-serif !important;
        background-color: #EFEFEF !important;
    }

    h5 {
        font-family: 'Noto Sans Lao', sans-serif !important;
    }
</style>
{% endblock %} {% block content %}
<div class="card">
    <div class="card-header">
        <!-- <div class="row ">
            <div class="col">
                <h5>ລາຍງານປະຈຳວັນ</h5>
                <div class="col text-end">
                    <a href="/homeposreport" class="btn btn-dark btn-sm" style="width: 120px;">
                        ກັບ
                    </a>
                </div>
            </div>
        </div> -->
        <form action="/report_pos" method="POST">
            <div class="row p-2 pl-3">
                <div class="col-sm-2">
                    <input required type="date" id="birthday" name="from_date" class="form-control"
                        value="{{from_date}}">
                </div>
                <div class="col-sm-2">
                    <input required type="date" id="birthday" name="to_date" class="form-control" value="{{to_date}}">
                </div>
                <div class="col-sm">
                    <div class="row">
                        <button type="submit" class="btn btn-success btn-sm" style="width: 120px;">ຄົ້ນຫາ</button>&nbsp;
                        <button type="button" class="btn btn-dark btn-sm" style="width: 120px;">
                            ພິມ
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="card-body">
            <div class="table-responsive-md table-striped border-dark">
                <table class="table table-striped" id="customerss">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 3%; text-align: center !important;">#</th>
                            <th scope="col" style="width: 10%;">ວັນທີ</th>
                            <th scope="col" style="width: 8%;">ເລກບິນ</th>
                            <th scope="col" style="width: 40%;">ລູກຄ້າ</th>
                            <th scope="col" style="width: 5%;">ຈຳນວນລາຍການ</th>
                            <th scope="col" style="width: 10%;">ມູນຄ່າ</th>
                            <th scope="col" style="width: 10%;">ເຄື່ອງ POS</th>
                            <th scope="col" style="width: 20px;" >ພະນັກງານຂາຍ</th>
                            <th style="width: 20px;"></th>
                            <!-- <th scope="col" style="text-align: right;width: 10%;">ແຈກແຕ້ມ</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {%for item in pos_port%}
                        <tr>
                            <th scope="row" style="text-align: center;border: 1px solid #177f10 !important;">{{item[0]}}
                            </th>
                            <td style="font-weight: bold !important">{{item[1]}}</td>
                            <td>{{item[2]}}</td>
                            <td>{{item[3]}}</td>
                            <td>{{item[4]}}</td>
                            <td style="text-align: center;">{{item[5]}}</td>
                            <td style="text-align: right;">{{item[6]}}</td>
                            <td>{{item[7]}}</td>
                            <td style="text-align: center;"><a href="/reportposday/{{item[2]}}">ລາຍລະອຽດ</a></td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}